ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    header {
        color: var(--blue-300);
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;

        span {
            font-size: 1.4rem;
            color: var(--orange-300);
        }
    }
}

.meter-container {
    font-size: 0;
    border-radius: 32px;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
    background-color: var(--orange-200);
}

.meter-fill {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    span {
        padding: 4px 12px;
        font-size: 1.2rem;
        opacity: 0.6;
    }

    &:hover span {
        opacity: 1;
    }
}
