@page "/"

<article>
	<header>
		<img src="/images/TovikChar.svg" alt="Tovik" />
		<h1>What if your visitors could read your site in their own language?</h1>
		<p>
			Tovik is a simple plugin that quietly translates your site for you, helping you reach a global audience.
		</p>
		<Tovik.App.Domains.AddDomain ButtonText="Get Started" />
	</header>

	<div class="two">
		<section>
			<img src="/images/TiltedWorldIcon.svg" alt="Tilted World" />
			<h2>Translate Your Site to 130+ Languages &amp; 600+ Dialects</h2>
			<p>Make your audience feel at home with automatic site translations into their preferred language.</p>
		</section>
		<section>
			<img src="/images/LightbulbIcon.svg" alt="Lightbulb" />
			<h2>Easy to Install</h2>
			<p>
				Tovik requires minimal setup, just a single line of code or a simple plugin installation.
			</p>
		</section>
		<section>
			<img src="/images/NoSubscriptions.svg" alt="No Subscriptions" />
			<h2>Buy Once, Yours Forever</h2>
			<p>
				Tovik is sustainably built, ethically priced, and entirely free from monthly subscriptions.
			</p>
		</section>
		<section>
			<img src="/images/TranslateIcon.svg" alt="Translate" />
			<h2>Works On Any Website</h2>
			<p>
				Built for WordPress, Wix, Webflow, Weebly, SquareSpace, Shopify, and we have an HTML tag for the rest.
			</p>
		</section>
	</div>

	<section>
		<header>
			<h3>Honest price</h3>
			<h4>Tired of subscription services? So are we!</h4>
			<p>
				We believe in honest pricing, and Tovik is just a simple, one time purchase. (Yes, really!)
				We believe everyone should have access to translation technology, so we set our pricing with small businesses, non-profits, and individuals like you in mind.
			</p>
		</header>
		<div class="buttons">
			<a class="button primary-btn" href="/app">Start Free</a>
			<a class="button secondary-btn" href="/pricing">Learn More</a>
		</div>
	</section>

	<section>
		<header>
			<h3>Ask us anything</h3>
			<h4>Frequently Asked Questions</h4>
		</header>
		<p>Have additional questions? Email us at <a href="mailto:support@sparc.coop">support@sparc.coop</a>.</p>
	</section>

	<Questions />
</article>
