article {
    z-index: 1002;
    background-color: var(--blue-700);
    width: 100vw;
    transition: transform 0.5s ease-in-out;

    ::deep .pricing {
        margin-top: 80px;
    }

    @media screen and (min-width: 800px) {
        width: auto;

        ::deep .pricing {
            align-items: center;
            flex-direction: row;
            gap: 10vw;
            padding: 32px;
            margin: 80px auto 0;
            max-width: 1200px;
            box-sizing: border-box;

            header {
                min-width: 200px;
            }

            ul {
                margin-top: 0;
            }
        }
    }

    
    > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        max-width: min(85vw, 800px);
        margin: 80px auto 0;
        text-align: center;

        > img {
            width: 110px;
        }

        h1 {
            font-size: 3.125rem;
            font-weight: 700;
            line-height: 120%;

            @media screen and (min-width: 800px) {
                font-size: 4.5rem;
            }
        }

        h2 {
            font-size: 2rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input {
                width: 300px;
            }

            button {
                white-space: nowrap;
            }

            @media screen and (min-width: 800px) {
                flex-direction: row;
            }
        }
    }
}

.two {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    max-width: 1200px;
    margin: 120px auto 0;
    padding: 0 10px;

    a {
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}

.two > section, ::deep section.faq {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    background: rgba(79, 129, 153, 0.20);
    border: 1px solid rgba(219, 243, 252, 0.20);
    border-radius: 24px;
    backdrop-filter: blur(4px);

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 32px;
    }

    img {
        height: 80px;
    }
}

.two > section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 32px;

    h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: 80px 1fr;

        img {
            justify-self: center;
        }
    }
}

h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--blue-200);
    padding: 16px;
}

h4 {
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--blue-50);
    margin-bottom: 24px;
}

.pricing-new {
    button {
        width: auto;
        align-self: initial;
        margin-bottom: 8px;
    }

    
}



::deep .language-select {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
    max-width: min(60vw, 400px);

    &:after {
        border-top: 5px solid white;
    }

    select {
        background-color: var(--blue-600);

        option {
            &:checked {
                color: var(--orange-300);
            }
        }
    }

    .progress-bar-value {
        background-color: var(--blue-300);
    }
}

::deep .language-select-container button.selected {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
}
