@page "/"
@using Tovik.Domains
@using Tovik.Translation

<article>
    <img src="/images/TovikChar.svg" alt="Tovik" />
    <h1>Your website speaks your language.</h1>
    <h2>Does it speak theirs?</h2>
    <AddDomain Mode="Home" />
    <h3>
        With Tovik, everyone can understand.
    </h3>
</article>
