article {
    z-index: 1002;
    background-color: var(--blue-700);
    width: 100vw;
    transition: transform 0.5s ease-in-out;

    ::deep .pricing {
        margin-top: 80px;
    }

    @media screen and (min-width: 800px) {
        width: auto;

        ::deep .pricing {
            align-items: center;
            flex-direction: row;
            gap: 10vw;
            padding: 32px;
            margin: 80px auto 0;
            max-width: 1200px;
            box-sizing: border-box;

            header {
                min-width: 200px;
            }

            ul {
                margin-top: 0;
            }
        }
    }


    > header, > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        max-width: min(92vw, 800px);
        margin: 80px auto 0;
        text-align: center;

        > img {
            width: 110px;
        }

        h1 {
            font-size: 3.125rem;
            font-weight: 700;
            line-height: 120%;

            @media screen and (min-width: 800px) {
                font-size: 4.5rem;
            }
        }

        h2 {
            font-size: 2rem;
        }

        a {
            text-decoration: underline;
        }
    }
}

.two {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 0 10px;

    a {
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}

.two > section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 30px;
    background: rgba(79, 129, 153, 0.20);
    border: 1px solid rgba(219, 243, 252, 0.20);
    border-radius: 24px;
    backdrop-filter: blur(4px);

    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 32px;
    }

    img {
        height: 53px;
    }
}

.two > section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 16px;

    h2 {
        margin-top: 0;
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: 80px 1fr;

        img {
            justify-self: center;
        }
    }
}

h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--blue-200);
    padding: 0;
}

h4 {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--blue-50);
}

section {
    button {
        width: auto;
        align-self: initial;
        margin-bottom: 8px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .buttons {
        display: flex;
        gap: 10px;
    }
}




