.iframe-container {
    position: fixed;
    top: 0;
    height: calc(100dvh - 50px);
    opacity: 0;
    transition: opacity ease-in-out 1.5s;
    z-index: 1700;
    background-color: var(--blue-700);

    iframe {
        background-color: var(--blue-200);
        display: block;
        margin: 0;
        width: 100cqw;
        height: 100%;
        box-sizing: border-box;
        z-index: 1100;
        border: 1px solid transparent;
        border-radius: 10px 10px 0 0;
        border-top-width: 0;
    }

    > aside {
        position: absolute;
        bottom: -32px;
        right: 32px;
        padding: 8px 16px;
        background-color: var(--blue-600);
        color: white;
        max-width: 70vw;
        font-size: 1.2rem;
        border-radius: 16px;
    }
}



.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    .is-a-customer {
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 10000;
    }

    .hero p {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 32px 0;
        color: var(--blue-200);
        font-family: var(--brother-printed);

        @media screen and (min-width: 800px) {
            margin: 64px;
            font-size: 2.4rem;
        }
    }

    .get-tovik {
        max-width: 240px;
        align-self: center;
        align-items: flex-end;
        font-size: 2rem;
        gap: 8px;
        color: var(--blue-200);
        border: 1px solid var(--blue-500);
    }

    .second {
        background-color: var(--blue-700);
        width: 100cqw;
        color: white;
        z-index: 1101;
        font-size: 1.4rem;
        padding: 48px 7.5vw 32px 7.5vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        opacity: 0;
        animation: fadein 2s ease-in forwards;
        position: relative;

        @media screen and (min-width: 800px) {
            flex-direction: row;
            gap: 43px;
            padding: 48px 32px 32px 32px;
        }

        > header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 32px;

            @media screen and (min-width: 800px) {
                max-width: 330px;
            }

            img {
                width: min(160px, 100%);

                &.grabber {
                    width: 24px;
                    position: absolute;
                    top: 12px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        > section {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        h2 {
            font-size: 2.6rem;
            line-height: 120%;
            color: var(--blue-100);

            @media screen and (min-width: 800px) {
                font-size: 3.125rem;
            }
        }

        h3 {
            color: white;
            font-weight: 500;
            font-family: var(--articulat);
            font-size: 1.6rem;
            padding: 0;
            line-height: 140%;
            margin-bottom: 8px;

            strong {
                font-weight: 500;
                color: var(--orange-300);
            }
        }

        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            box-sizing: border-box;
        }

        button, a.button {
            align-self: inherit;
            width: auto;
            padding: 12px 16px;
        }

        aside {
            font-size: 1.1rem;
            padding-top: 4px;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    > ::deep .language-select-container {
        position: fixed;
        bottom: 160px;
        right: 28px;
        z-index: 1100;

        .language-select {
            width: auto;

            select {
                width: auto;
                max-width: 80%;
            }
        }
    }
}


article {
    z-index: 1800;
    //background-color: var(--blue-700);
    width: 100cqw;

    > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        max-width: min(85vw, 800px);
        margin: 80px auto 0;
        text-align: center;

        &.first {
            margin-top: 60px;

            @media screen and (min-width: 800px) {
                margin-top: 120px;
            }
        }

        .hero {
            p {
                margin: 32px 0;
            }

            img {
                width: min(400px, 40vw);
            }

            form {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                gap: 8px;
                margin: 32px 0;

                input, button {
                    padding: 12px 16px;
                    width: 100%;
                    min-width: 200px;
                    box-sizing: border-box;
                }

                button {
                    white-space: nowrap;
                }

                @media screen and (min-width: 500px) {
                    flex-direction: row;
                    grid-template-columns: 300px auto;
                }
            }
        }

        h1 {
            font-size: 4.125rem;
            font-weight: 700;
            line-height: 120%;
            margin-top: 32px;

            @media screen and (min-width: 800px) {
                font-size: 6.5rem;
            }
        }

        h2 {
            margin-top: 16px;
            font-size: 3rem;

            &.hero {
                margin-top: 16px;

                @media screen and (min-width: 800px) {
                    font-size: 3rem;
                }
            }
        }
    }
}

footer {
    padding: 16px;
    font-size: 1.4rem;
    text-align: center;
    z-index: 1000;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--blue-200);

    a {
        text-decoration: underline;
        color: var(--blue-200);
    }
}

.previewing {
    .iframe-container {
        display: block;
        opacity: 1;
    }

    .home-container {
        margin-top: calc(100dvh - 100px);
        width: 100cqw;
        z-index: 1001;
    }

    article {
        background-color: var(--blue-700);
    }

    article, .second {
        border-radius: 24px 24px 0 0;
    }

    footer {
        position: static;
    }

    .hero-background {
        opacity: 0;
    }

    .second .hero-background {
        opacity: 1;
        position: absolute;
        z-index: -1;
    }
}

.hero-background {
    width: 100cqw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 0;

    ::deep svg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1988px;
        height: 100%;
    }
}


::deep .language-select {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
    max-width: min(90vw, 400px);

    &:after {
        border-top: 5px solid white;
    }

    select {
        background-color: var(--blue-600);

        option {
            &:checked {
                color: var(--orange-300);
            }
        }
    }

    .progress-bar-value {
        background-color: var(--blue-300);
    }
}

::deep .language-select-container button.selected {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
