article {
    width: 100cqw;

    > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        max-width: min(85vw, 1200px);
        margin: 60px auto 0;
        text-align: center;

        @media screen and (min-width: 800px) {
            margin-top: 160px;
        }

        h3 {
            color: var(--blue-300);
            font-size: 2rem;
            font-weight: 700;
        }

        img {
            width: min(211px, 40vw);
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            input, button {
                padding: 13px 16px;
                min-width: 120px;
            }

            button {
                white-space: nowrap;
            }
        }

        h1 {
            font-size: 4.125rem;
            font-weight: 700;
            line-height: 120%;
            color: var(--blue-50);

            @media screen and (min-width: 800px) {
                font-size: 4.88rem;
            }
        }

        h2 {
            font-size: 2.5rem;
            color: var(--blue-50);
        }
    }
}
