.home-container {
    iframe {
        display: none;
        background-color: var(--blue-500);
    }

    &.previewing {
        position: fixed;
        width: 100dvw;
        height: calc(100dvh - 90px);
        overflow: hidden;
        z-index: 1001;

        iframe {
            display: block;
        }

        article {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(calc(100dvh - 90px));
        }
    }

    &.preview-first {
        article {
            transition: none !important;
        }
    }

    > ::deep .language-select-container {
        position: fixed;
        bottom: 100px;
        right: 28px;
        z-index: 1005;

        .language-select {
            width: auto;

            select {
                width: auto;
                max-width: 80%;
            }
        }
    }
}

.hero-background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.2;
    pointer-events: none;

    ::deep svg {
        width: 100%;
        height: auto;
    }
}

iframe {
    position: fixed;
    top: 0;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    width: 100vw;
    height: calc(100vh - 90px);
    border-top-width: 0;
}

article {
    z-index: 1002;
    background-color: var(--blue-700);
    width: 100vw;
    transition: transform 0.8s ease-in-out;

    ::deep .pricing {
        margin-top: 80px;
    }

    @media screen and (min-width: 800px) {
        width: auto;

        ::deep .pricing {
            align-items: center;
            flex-direction: row;
            gap: 20vw;
            padding: 32px;
            margin: 80px auto 0;
            max-width: 1200px;
            box-sizing: border-box;

            header {
                align-items: flex-start;
            }

            ul {
                margin-top: 0;
            }
        }
    }

    > header {
        position: sticky;
        top: 0;
        z-index: 1003;
        display: flex;
        justify-content: space-between;
        background: rgba(7, 55, 79, 0.8);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(40px);
        padding: 16px;

        ::deep .language-select {
            position: fixed;
            top: 100px;
            right: 16px;
        }

        img {
            height: 24px;
        }

        .buttons {
            display: flex;
            flex-wrap: nowrap;
            gap: 8px;
        }

        button, a.button {
            width: auto;
            padding: 12px 16px;
            border-radius: 50px;
            white-space: nowrap;
        }

        @media screen and (min-width: 800px) {
            padding: 16px 32px;
        }
    }

    > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        max-width: min(90vw, 800px);
        margin: 80px auto 0;
        text-align: center;

        > img {
            width: 110px;
        }

        h1 {
            font-size: 3.125rem;
            font-weight: 700;
            line-height: 120%;

            @media screen and (min-width: 800px) {
                font-size: 4.5rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input {
                width: 300px;
            }

            button {
                white-space: nowrap;
            }

            @media screen and (min-width: 800px) {
                flex-direction: row;
            }
        }
    }
}

.two {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    max-width: 1200px;
    margin: 120px auto 0;
    padding: 0 10px;

    a {
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}

.two > section, ::deep section.faq {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    background: rgba(79, 129, 153, 0.20);
    border: 1px solid rgba(219, 243, 252, 0.20);
    border-radius: 24px;
    backdrop-filter: blur(4px);

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 32px;
    }

    img {
        height: 30px;
    }
}

.purchase-sidebar {
    position: fixed;
    top: 0;
    right: -600px;
    bottom: 0;
    background-color: var(--blue-600);
    padding: 0;
    border-left: 1px solid var(--blue-200);
    max-width: min(90vw, 400px);
    overflow-y: auto;
    z-index: 1400;
    transition: transform 0.3s ease-in-out;

    &.open {
        transform: translateX(-600px);
    }

    ::deep > div {
        padding: 16px;
    }

    > header {
        text-align: right;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        padding: 16px;
        z-index: 1500;
        background-color: var(--blue-600);

        ::deep svg path {
            stroke: white;
        }
    }
}

::deep .language-select {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
    max-width: min(60vw, 400px);

    &:after {
        border-top: 5px solid white;
    }

    select {
        background-color: var(--blue-600);

        option {
            &:checked {
                color: var(--orange-300);
            }
        }
    }

    .progress-bar-value {
        background-color: var(--blue-300);
    }
}

::deep .language-select-container button.selected {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
}
