.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    .is-a-customer {
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 10000;
    }

    iframe {
        margin: 16px;
        width: calc(100dvw - 32px);
        height: 100%;
        max-height: 0;
        box-sizing: border-box;
        z-index: 1100;
        transition: max-height ease-in-out 1s;
        //box-shadow: rgba(0, 0, 0, 0.3) 10px 10px inset;

        @media screen and (min-width: 800px) {
            margin: 32px;
            width: calc(100dvw - 64px);
        }
    }

    .hero p {
        font-size: 2rem;
    }

    .get-tovik {
        max-width: 240px;
        align-self: center;
        align-items: flex-end;
        font-size: 2rem;
        gap: 8px;
        color: var(--blue-200);
        border: 1px solid var(--blue-500);
    }

    &.previewing {
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
        z-index: 1001;

        iframe {
            background-color: var(--blue-200);
            display: block;
            max-height: 100%;
        }

        article {
            display: none;
        }

        article > header .primary-btn {
            display: none;
        }

        @media screen and (min-width: 800px) {
            article > header .primary-btn {
                display: flex;
            }
        }
    }

    &.preview-first {
        article {
            transition: none !important;
        }
    }

    .fine-print {
        width: 100vw;
        color: white;
        z-index: 1101;
        font-size: 1.4rem;
        padding: 64px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        opacity: 0;
        animation: fadein 3s ease-in forwards;

        > img {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 20vw;
            max-width: 200px;
            display: none;

            @media screen and (min-width: 800px) {
                display: block;
            }
        }

        h2 {
            font-size: 2.4rem;

            @media screen and (min-width: 800px) {
                font-size: 3.5rem;
            }
        }

        a {
            color: var(--orange-300);
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }

        aside {
            font-size: 1.1rem;
            padding-top: 4px;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    > ::deep .language-select-container {
        position: fixed;
        bottom: 160px;
        right: 28px;
        z-index: 1100;

        .language-select {
            width: auto;

            select {
                width: auto;
                max-width: 80%;
            }
        }
    }
}

.hero-background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.2;
    pointer-events: none;

    ::deep svg {
        width: 100%;
        height: auto;
    }
}

iframe {
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    border-top-width: 0;
}

article {
    z-index: 1002;
    background-color: var(--blue-700);
    width: 100vw;
    transition: transform 0.5s ease-in-out;

    ::deep .pricing {
        margin-top: 80px;
    }

    @media screen and (min-width: 800px) {
        width: auto;

        ::deep .pricing {
            align-items: center;
            flex-direction: row;
            gap: 10vw;
            padding: 32px;
            margin: 80px auto 0;
            max-width: 1200px;
            box-sizing: border-box;

            header {
                min-width: 200px;
            }

            ul {
                margin-top: 0;
            }
        }
    }

    > header {
        position: sticky;
        top: 0;
        z-index: 1003;
        display: flex;
        justify-content: space-between;
        background: rgba(7, 55, 79, 0.8);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(40px);
        padding: 16px;

        ::deep .language-select {
            position: fixed;
            top: 100px;
            right: 16px;
            border-radius: 20px;
        }

        img {
            height: 24px;
        }

        .buttons {
            display: flex;
            flex-wrap: nowrap;
            gap: 8px;
        }

        button, a.button {
            width: auto;
            padding: 12px 16px;
            border-radius: 20px;
            white-space: nowrap;

            &.logo {
                padding: 0;
            }
        }

        @media screen and (min-width: 800px) {
            padding: 16px 32px;
        }
    }

    > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        max-width: min(85vw, 800px);
        margin: 80px auto 0;
        text-align: center;

        &.first {
            margin-top: 120px;
        }

        > img {
            width: 110px;
        }

        .hero {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);

            p {
                margin: 32px;
            }

            img {
                width: 80vw;
                max-width: 400px;
            }
        }

        h1 {
            font-size: 4.125rem;
            font-weight: 700;
            line-height: 120%;
            margin-top: 32px;

            @media screen and (min-width: 800px) {
                font-size: 6.5rem;
            }
        }

        h2 {
            margin-top: 16px;
            font-size: 3rem;

            &.hero {
                margin-top: 16px;

                @media screen and (min-width: 800px) {
                    font-size: 3rem;
                }
            }
        }

        .hero form {
            display: grid;
            grid-template-columns: 300px auto;
            justify-content: center;
            gap: 8px;

            button {
                white-space: nowrap;
            }

            @media screen and (min-width: 800px) {
                flex-direction: row;
            }
        }
    }
}

.two {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    max-width: 1200px;
    margin: 120px auto 0;
    padding: 0 10px;

    a {
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}

.two > section, ::deep section.faq {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    background: rgba(79, 129, 153, 0.20);
    border: 1px solid rgba(219, 243, 252, 0.20);
    border-radius: 24px;
    backdrop-filter: blur(4px);

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 32px;
    }

    img {
        height: 80px;
    }
}

.two > section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 32px;

    h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: 80px 1fr;

        img {
            justify-self: center;
        }
    }
}

h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--blue-200);
    padding: 16px;
}

h4 {
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--blue-50);
    margin-bottom: 24px;
}

.pricing-new {
    button {
        width: auto;
        align-self: initial;
        margin-bottom: 8px;
    }

    .table-container {
        padding: 40px;
        border-radius: 32px;
        background: rgba(2, 16, 23, 0.2);
        backdrop-filter: blur(4px);
        width: 100%;
        padding: 40px;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr th, tr td {
            padding: 40px 0;
            border-bottom: 1px solid #4f8199;
        }

        tr:last-child th, tr:last-child td {
            border-bottom: 0;
        }

        thead th {
            text-align: center;
        }

        tbody th {
            text-align: left;
        }

        tbody td {
            color: var(--orange-300);
            font-size: 1.4rem;
            font-weight: 500;
        }

        th {
            color: var(--blue-50);
            font-family: var(--brother-printed);
            font-size: 1.6rem;
            font-weight: 700;
        }

        @media screen and (min-width: 800px) {
            th {
                font-size: 2rem;
            }

            tbody td {
                font-size: 1.6rem;
            }
        }
    }
}

.purchase-sidebar {
    position: fixed;
    top: 0;
    right: -600px;
    bottom: 0;
    background-color: var(--blue-600);
    padding: 0;
    border-left: 1px solid var(--blue-200);
    max-width: min(90vw, 600px);
    overflow-y: auto;
    z-index: 1400;
    transition: transform 0.3s ease-in-out;

    &.open {
        transform: translateX(-600px);
    }

    ::deep > div {
        padding: 16px;
    }

    > header {
        text-align: right;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        padding: 16px;
        z-index: 1500;
        background: var(--blue-700);
        display: grid;
        grid-template-columns: auto 36px;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 2.4rem;
            padding-left: 16px;
        }

        ::deep svg path {
            stroke: white;
        }
    }
}

::deep .language-select {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
    max-width: min(80vw, 400px);

    &:after {
        border-top: 5px solid white;
    }

    select {
        background-color: var(--blue-600);

        option {
            &:checked {
                color: var(--orange-300);
            }
        }
    }

    .progress-bar-value {
        background-color: var(--blue-300);
    }
}

::deep .language-select-container button.selected {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
