article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    width: 100%;

    @media (orientation: landscape) {
        margin-top: 200px;
    }

    img {
        width: min(211px, 40vw);
    }

    h2 {
        font-size: 2.5rem;
        color: var(--blue-50);
    }

    h3 {
        color: var(--blue-300);
        font-size: 2rem;
        font-weight: 700;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 8px;

        input {
            width: 100%;
            min-width: 300px;
        }

        button {
            min-width: 120px;
        }

        input, button {
            padding: 13px 16px;
            max-width: 50vw;
        }

        button {
            white-space: nowrap;
        }

        @media (orientation: landscape) {
            display: flex;
            gap: 8px;

            input {
                width: auto;
                min-width: 350px;
            }
        }
    }
}
