@page "/sites/{Id}/activate"
@using Tovik.Domains
@layout MainLayout

<article>
    <header>
        <a href="/sites" class="back">
            <img src="/icons/ChevronLeft.svg" alt="Back to My Sites" />
            Back to My Sites
        </a>
        <h1>Installation guide</h1>
        <p>Follow these simple steps to install and activate Tovik on your website.</p>
    </header>

    @if (Domain != null)
    {
        <section>
            <Tovik.Installation.Install Domain="Domain" />
        </section>
    }

</article>

@inject TovikDomains TovikDomains
@code {
    [Parameter] public required string Id { get; set; }
    SparcDomain? Domain;

    protected override async Task OnParametersSetAsync()
    {
        Domain = await TovikDomains.Get(Id);
    }
}
