<article>
    <header>
        <h1>
            Introducing Tovik
        </h1>
        <p>Tovik is a website plugin that makes it easy to translate your website into multiple languages, so you can reach a global audience without the hassle of managing translations manually.</p>
    </header>


</article>

@code {

}
