@page "/pricing"
@layout NewHomeLayout
@using Sparc.Blossom.Realtime


<article>
    <header>
        <h1>
            Introducing Tovik
        </h1>
        <p>Tovik is a website plugin that makes it easy to translate your website into multiple languages, so you can reach a global audience without the hassle of managing translations manually.</p>
        @if (User != null)
        {
            <div class="currency">
                See pricing in your preferred currency:
                <CurrencySelector Avatar="User.Avatar" />
            </div>
        }

    </header>

    <section>
        <div>
            <header>
                <h2>Free</h2>
                <p>Perfect for small websites</p>
                <h3>@Tiers("Free")?.FormattedPrice</h3>
            </header>
            <a class="button primary-btn" href="/Purchase/Free">Install Now</a>
            <ul>
                <li>
                    <strong>For domains up to 10 pages</strong>
                </li>
                <li>
                    Unlimited visitors &amp; page visits
                </li>
                <li>
                    Unlimited languages &amp; dialects
                </li>
                <li>
                    Unlimited translations
                </li>
            </ul>
        </div>

        <div>
            <header>
                <h2>
                    <img src="./icons/Premium.svg" alt="Indie" />
                    Indie
                </h2>
                <p>Blogs and small business sites</p>
                <h3>
                    @Tiers("Indie")?.FormattedPrice
                    <strong>/one time fee</strong>
                </h3>
            </header>
            <a class="button primary-btn" href="/Purchase/Indie">Purchase Now</a>
            <ul>
                <li>
                    <strong>For domains up to 100 pages</strong>
                </li>
                <li>
                    Unlimited visitors &amp; page visits
                </li>
                <li>
                    Unlimited languages &amp; dialects
                </li>
                <li>
                    Unlimited translations
                </li>
            </ul>
        </div>

        <div>
            <header>
                <h2>
                    <img src="./icons/Premium.svg" alt="Premium" />
                    Premium
                </h2>
                <p>Above and beyond</p>
                <h3>
                    @Tiers("Premium")?.FormattedPrice
                    <strong>/one time fee</strong>
                </h3>
            </header>
            <a class="button primary-btn" href="/Purchase/Premium">Purchase Now</a>
            <ul>
                <li>
                    <strong>For domains up to 1,000 pages</strong>
                </li>
                <li>
                    Unlimited visitors &amp; page visits
                </li>
                <li>
                    Unlimited languages &amp; dialects
                </li>
                <li>
                    Unlimited translations
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <h4>Tovik is ethically priced, with no monthly subscriptions.</h4>
        <p>
            Yes, really. We believe it's time for software to be subscription-free again.
        </p>
    </footer>
</article>


@inject ISparcBilling Billing
@inject ISparcAura Aura
@inject Microsoft.Extensions.Configuration.IConfiguration Config
@inject SparcEvents Events
@code {
    [Parameter] public EventCallback OnClick { get; set; }
    GetProductResponse? Product;
    BlossomUser? User;

    protected override async Task OnInitializedAsync()
    {
        Events.CurrencyChanged += OnCurrencyChanged;
        User = await Aura.UserInfo();
        await OnCurrencyChanged(User.Avatar.Currency);
    }

    async Task OnCurrencyChanged(SparcCurrency? currency)
    {
        Product = await Billing.GetProductAsync(Config["ProductId"]!, currency?.Id);
        StateHasChanged();
    }

    ProductTier? Tiers(string tierName) => Product?.Tiers.FirstOrDefault(t => t.Name == tierName);
}