@page "/privacy"

<PageTitle>Tovik | Privacy Policy</PageTitle>

<div class="terms">
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <ul>
        <li>Tovik doesn't collect personal data. We don’t store it, sell it, share it, or analyze it. The only data we store is configuration data for the domains you've added to the Tovik dashboard.</li>
        <li>Tovik doesn't use third party cookies, non-essential trackers, pixels, or device fingerprints.</li>
        <li>You and your visitors can use Tovik anonymously forever, never sharing any personal information with Tovik or Sparc Cooperative.</li>
        <li>
            If you choose to share data with us (e.g. feedback), it’s voluntary and ephemeral. We don’t link it to you, and we don’t retain it.
        </li>
        <li>
            We believe privacy should be the default, not a feature. So we built Tovik that way.
        </li>
    </ul>
</div>