<div>
    @if (PaymentIntentId == null)
    {
        <Tovik.Home.Pricing />
    }
    
    @if (User != null)
    {
        <section>
            <GlobalBiller ProductId="Tovik" Domain="@Domain" StripeProductId="@StripeProductId" Avatar="User.Avatar" Appearance="Appearance" />
        </section>
    }
</div>

@inject IConfiguration Config
@inject ISparcAura Aura
@code {
    [Parameter] public string? Domain { get; set; }
    [Parameter] [SupplyParameterFromQuery] public string? PaymentIntentId { get; set; }
    string? StripeProductId;
    BlossomUser? User;
    StripeAppearance? Appearance = new()
    {
        Theme = "flat",
        Variables = new()
        {
            ColorPrimary = "#EFF7F9",
            ColorText = "#EFF7F9",
            ColorBackground = "#376880",
            BorderRadius = "20px",
            SpacingUnit = "4px"
        },
        Rules = new()
        {
            { ".Label", new() { FontSize = "13px", FontWeight = 500 }},
            { ".Input", new() { Border = "1px solid #052738" } },
            { ".Tab", new() { BorderRadius = "20px" }}
        }
    };

    protected override async Task OnInitializedAsync()
    {
        StripeProductId = Config["Tovik"]!.Contains("localhost") ? "prod_SW5yY8O8KprzFu" : "prod_SlQhkHsXb7ZyXb";
        User = await Aura.UserInfo();
    }
}
