.faq {
    max-width: 1200px;
    margin: 40px 10px 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background: rgba(79, 129, 153, 0.20);
    border: 1px solid rgba(219, 243, 252, 0.20);
    border-radius: 24px;
    backdrop-filter: blur(4px);

    @media screen and (min-width: 800px) {
        margin: 40px auto 80px;
    }

    .question, .answer {
        width: 100%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 32px;
        position: relative;

        span {
            z-index: 2;
        }
    }

    .question {
        background-color: #FF945E;
        color: #9d3500;
    }

    .answer {
        background-color: var(--blue-200);
        color: var(--blue-500);
    }

    dl {
        display: flex;
        flex-direction: column;
        gap: 16px;

        div {
            padding: 16px;
            border-radius: 32px;
            position: relative;

            &:hover, &.selected {
                cursor: pointer;
                background: rgba(2, 16, 23, 0.10);
            }

            &.selected {
                dt {
                    color: var(--orange-300);
                }

                dd {
                    display: block;
                }
            }

            > img {
                position: absolute;
                top: 16px;
                right: 16px;
            }
        }
    }

    dt {
        font-family: var(--brother-printed);
        font-weight: 700;
        font-size: 1.8rem;
        color: var(--blue-50);
        margin-bottom: 16px;
        padding-right: 64px;
        text-align: left;
        margin-bottom: 0;
    }

    dd {
        margin: 16px 0 0 0;
        color: var(--blue-200);
        text-align: left;
        display: none;
    }

    footer {
        font-size: 1.6rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        flex-direction: column;

        button {
            margin-bottom: 16px;
        }

        a {
            text-decoration: underline;
        }
    }
}
