@page "/terms"

@using Sparc.Blossom.Authentication

<PageTitle>Tovik | Terms of Use</PageTitle>

<div class="terms">
    <header>
        <h1>Terms of Use</h1>
    </header>
    <p>
        By accessing or using Tovik, you agree to the following:
    </p>
    <ol>
        <li>
            <strong>Use Freely</strong><br />
            You may access and use Tovik for any lawful purpose. No account or payment is required to install or use Tovik.
        </li>
        <li>
            <strong>No Warranty</strong><br />
            Tovik is provided "as is". We don’t guarantee uptime, accuracy, or results. Use it at your own risk.
        </li>
        <li>
            <strong>Limited Liability</strong><br />
            We do our best to ensure Tovik works as intended. However, we’re not liable for indirect damages, data loss, or misuse. You use Tovik at your own discretion.
        </li>
        <li>
            <strong>Privacy by Default</strong><br />
            Tovik doesn't track you, store your personal information, or analyze your behavior. What you do stays yours.
        </li>
        <li>
            <strong>Acceptable Use</strong><br />
            Don’t use Tovik to harm, harass, deceive, or violate laws. We reserve the right to restrict or revoke access to Tovik if you violate our Acceptable Use terms.
        </li>
        <li>
            <strong>Changes</strong><br />
            These terms may be updated. Continued use of Tovik implies acceptance of any changes.
        </li>
    </ol>
</div>