@using Sparc.Blossom.Realtime
@page "/pricing"

<article>
	<header>
			<h3>Honest price</h3>
			<h4>Tired of subscription services? So are we!</h4>
			<p>
				We believe in honest pricing, and Tovik is just a simple, one time fee. (Yes, really!)
				We believe everyone should have access to translation technology, so we set our pricing with small businesses, non-profits, and individuals like you in mind.
			</p>
		</header>

		<PricingCard Type="Basic" />
		<PricingCard Type="Premium" />
		<PricingTable />
</article>

@code
{
} 