<div class="table-container">
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Tovik Free</th>
				<th>Tovik Pro</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Page limit</th>
				<td>20</td>
				<td>500</td>
			</tr>
			<tr>
				<th>Word limit</th>
				<td>Unlimited</td>
				<td>Unlimited</td>
			</tr>
			<tr>
				<th>Language limit</th>
				<td>Unlimited</td>
				<td>Unlimited</td>
			</tr>
			<tr>
				<th>Installation</th>
				<td>One line of code</td>
				<td>One line of code</td>
			</tr>
			<tr>
				<th>Website Builder Plugin</th>
				<td>Supported</td>
				<td>Supported</td>
			</tr>
		</tbody>
	</table>
</div>
