@page "/"
@page "/home"
@page "/sapient"
@page "/morbidology"

@using Sparc.Blossom.Authentication
@using Tovik.Installation
@layout HomeLayout

<PageTitle>Tovik</PageTitle>


@if (Avatar != null)
{
    <article class="home">
        <div class="page-container">
            @if (IsACustomer)
            {
                <section class="trial mini">
                    <h2>
                        Welcome back, friend!
                    </h2>
                    <button class="add-btn primary-btn" @onclick=Start>Go To My Websites &rarr;</button>
                </section>
            }

            <section class="demo">
                <header>
                    <img src="/images/site-frame.svg" alt="Web browser facade" />
                </header>
                <div>
                    @if (PersonalizedWelcome != null)
                    {
                        <h1>Welcome, @PersonalizedWelcome listener!</h1>
                    }
                    else
                    {
                        <h1>Your Website, Multilingual in Minutes</h1>
                    }
                    <p>
                        Say hello to Tovik — your website’s new multilingual partner. 
                    </p>
                    <p>
                        With just one line of code, this lightweight tool automatically translates your site into 130+ languages, no developers or complicated setup required.
                    </p>

                    <footer>
                        <Sparc.Blossom.Content.LanguageSelector Avatar="Avatar" />
                        <button class="add-btn primary-btn" @onclick=Start>Get Tovik &rarr;</button>
                    </footer>
                </div>
            </section>

            <div class="two">
                <section class="trial">
                    <header>
                        <img src="/images/Star.svg" alt="Star" />
                    </header>
                    <div class="subheader">
                        <h2>Get Tovik, No Strings Attached <span>Free</span></h2>
                    </div>
                    <div>
                        <ul>
                            <li>
                                @if (PersonalizedWelcome != null)
                                {
                                    <h3><span><s>10</s> 20</span> Pages Included <span>(@PersonalizedWelcome Listener Special!)</span></h3>
                                }
                                else
                                {
                                    <h3><span>10</span> Web Pages Included</h3>
                                }
                                <p>Multilingual translation on your site, with zero commitment.</p>
                            </li>
                            <li>
                                <h3>Free Forever</h3>
                                <p>No credit card, no hidden catches.</p>
                            </li>
                            <li>
                                <h3>Plug & Play</h3>
                                <p>Just install the script and you're live!</p>
                            </li>
                            <li>
                                <h3>Yours to Keep</h3>
                                <p>No expiration, no time limits.</p>
                            </li>
                        </ul>
                    </div>
                    <footer>
                        <button class="add-btn primary-btn" @onclick=Start>Start Now &rarr;</button>
                    </footer>
                </section>

                @if (Product != null)
                {
                    <section class="trial">
                        <header>
                            <img src="/images/Star.svg" alt="Star" />
                        </header>
                        <div class="subheader">
                            <h2>Purchase Tovik <span>@Product.FormattedPrice</span></h2>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <h3>Up to <span>500</span> Pages</h3>
                                    <p>Covers all but the largest websites.</p>
                                </li>
                                <li>
                                    <h3><span>Unlimited</span> Domains</h3>
                                    <p>Use across all your sites, no restrictions.</p>
                                </li>
                                <li>
                                    <h3><span>Unlimited</span> Languages</h3>
                                    <p>130+ languages automatically supported.</p>
                                </li>
                                <li>
                                    <h3><span>Unlimited</span> Page Views</h3>
                                    <p></p>
                                </li>
                                <li>
                                    <h3>One-Time, Local-Friendly Payment</h3>
                                    <p>Pay once, in your preferred currency. No subscriptions or recurring fees.</p>
                                </li>
                                <li>
                                    <h3>Yours To Keep</h3>
                                    <p>No expiration, no time limits.</p>
                                </li>
                                <li>
                                    <h3>Privacy First</h3>
                                    <p>No tracking, no data harvesting.</p>
                                </li>
                            </ul>
                        </div>
                        <footer>
                            <button class="add-btn primary-btn" @onclick=Buy>Go to Sparc Store &rarr;</button>
                        </footer>
                    </section>
                }
            </div>

        </div>
    </article>
}

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@inject ISparcBilling Billing
@inject IConfiguration Config

@code {
    BlossomAvatar? Avatar;
    string NewDomain = "";
    string? Error;
    GetProductResponse? Product;
    bool IsACustomer;
    string? PersonalizedWelcome;

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        IsACustomer = user.HasProduct("Tovik");

        Avatar = user.Avatar;
        Product = await Billing.GetProductAsync(Config["ProductId"]!);

        if (Nav.Uri.Contains("sapient"))
            PersonalizedWelcome = "Sapient";
        else if (Nav.Uri.Contains("morbidology"))
            PersonalizedWelcome = "Morbidology";
    }

    void Start()
    {
        if (PersonalizedWelcome != null)
            Nav.NavigateTo("/sites?welcome=" + Uri.EscapeDataString(PersonalizedWelcome));
        else
            Nav.NavigateTo("/sites");
    }

    async Task Buy()
    {
        var totp = await Aura.GetSparcCode();
        if (totp != null)
            Nav.NavigateTo($"{Config["SparcStore"]}?_auth=totp:{totp.Code}");
    }

    private async Task AddDomain()
    {
        if (string.IsNullOrWhiteSpace(NewDomain))
            return;

        Error = null;
        try
        {
            await TovikDomains.RegisterAsync(NewDomain);
            NewDomain = "";
            Nav.NavigateTo("/sites");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            NewDomain = "";
        }
    }
}