@page "/"
@page "/home"
@page "/sapient"
@page "/morbidology"

@using Sparc.Blossom.Authentication
@using Tovik.Installation
@layout HomeLayout

<PageTitle>Tovik</PageTitle>


@if (Avatar != null)
{
    <article class="home">
        <div class="page-container">
            @if (IsACustomer)
            {
                <section class="trial mini">
                    <h2>
                        Welcome back, friend!
                    </h2>
                    <button class="add-btn primary-btn" @onclick=Start>Go To My Websites &rarr;</button>
                </section>
            }

            <section class="demo">
                <header>
                    <img src="/images/site-frame.svg" alt="Web browser facade" />
                </header>
                <div>
                    @if (PersonalizedWelcome != null)
                    {
                        <h1>Welcome, @PersonalizedWelcome listener!</h1>
                    }
                    else
                    {
                        <h1>Your Website, Multilingual in Minutes</h1>
                    }
                    <p>
                        Say hello to Tovik — your website’s new multilingual partner. 
                    </p>
                    <p>
                        With just one line of code, this lightweight tool automatically translates your site into 130+ languages, no developers or complicated setup required.
                    </p>

                    <footer>
                        <Sparc.Blossom.Content.LanguageSelector Avatar="Avatar" />
                    </footer>
                </div>
            </section>

            <div class="two">
                <section class="trial">
                    <header>
                        <img src="/images/Star.svg" alt="Star" />
                        <h2>Learn About Tovik</h2>
                    </header>
                    <div>
                        <p>
                            See Tovik's transparent pricing and get answers to your top questions.
                        </p>
                    </div>
                    <footer>
                        <button class="add-btn primary-btn" @onclick=Start>Learn More</button>
                    </footer>
                </section>

                @if (Product != null)
                {
                    <section class="trial">
                        <header>
                            <img src="/images/Star.svg" alt="Star" />
                            <h2>Add Tovik To Your Site</h2>
                        </header>
                        <div>
                            <p>Install Tovik and translate up to 10 pages completely free. No strings attached!</p>
                        </div>
                        <footer>
                            <button class="add-btn primary-btn" @onclick=Start>Install Tovik Now</button>
                        </footer>
                    </section>
                }
            </div>

        </div>
    </article>
}

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@inject ISparcBilling Billing
@inject IConfiguration Config

@code {
    BlossomAvatar? Avatar;
    string NewDomain = "";
    string? Error;
    GetProductResponse? Product;
    bool IsACustomer;
    string? PersonalizedWelcome;

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        IsACustomer = user.HasProduct("Tovik");

        Avatar = user.Avatar;
        Product = await Billing.GetProductAsync(Config["ProductId"]!);

        if (Nav.Uri.Contains("sapient"))
            PersonalizedWelcome = "Sapient";
        else if (Nav.Uri.Contains("morbidology"))
            PersonalizedWelcome = "Morbidology";
    }

    void Start()
    {
        if (PersonalizedWelcome != null)
            Nav.NavigateTo("/sites?welcome=" + Uri.EscapeDataString(PersonalizedWelcome));
        else
            Nav.NavigateTo("/sites");
    }

    async Task Buy()
    {
        var totp = await Aura.GetSparcCode();
        if (totp != null)
            Nav.NavigateTo($"{Config["SparcStore"]}?_auth=totp:{totp.Code}");
    }

    private async Task AddDomain()
    {
        if (string.IsNullOrWhiteSpace(NewDomain))
            return;

        Error = null;
        try
        {
            await TovikDomains.RegisterAsync(NewDomain);
            NewDomain = "";
            Nav.NavigateTo("/sites");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            NewDomain = "";
        }
    }
}