@page "/"
@page "/home"
@page "/sapient"
@page "/morbidology"

@using Sparc.Blossom.Authentication
@using Tovik.Installation
@layout HomeLayout

<PageTitle>Tovik</PageTitle>


@if (Avatar != null)
{
    <article class="home">
        <div class="page-container">
            @if (PersonalizedWelcome != null)
            {
                <section class="trial mini">
                    <div>
                        <h2>
                            Welcome, @PersonalizedWelcome listener!
                        </h2>
                        <p>
                            As a token of your support, you can translate <strong><s>10</s> 20</strong> pages with Tovik Free!
                        </p>
                    </div>
                    <div>
                        <a class="button primary-btn" href="@WelcomeLink">Activate This Offer &rarr;</a>
                    </div>
                </section>
            }
            else if (IsACustomer)
            {
                <section class="trial mini">
                    <h2>
                        Welcome back, friend!
                    </h2>
                    <a class="button primary-btn" href="@WelcomeLink">Go To My Websites &rarr;</a>
                </section>
            }

            <section class="demo">
                <header>
                    <img src="/images/site-frame.svg" alt="Web browser facade" />
                </header>
                <div>
                    <h1>Your Website, Multilingual in Minutes</h1>

                    <p>
                        Say hello to Tovik — your website’s new multilingual partner. Install one plugin and automatically translate your entire site into 130+ languages.
                    </p>

                    <footer>
                        @if (LanguageSelector?.IsSpinning == true)
                        {
                            <button class="back-btn secondary-btn" translate="no" @onclick=Revert><ArrowLeftIcon /> @Avatar?.Language?.NativeName</button>
                        }
                        else
                        {
                            <button class="primary-btn" @onclick=Spin>Spin the Language Wheel</button>
                        }
                        <Sparc.Blossom.Content.LanguageSelector Avatar="Avatar" @ref=LanguageSelector />
                    </footer>
                </div>
            </section>

            <div class="two">
                <section class="trial">
                    <header>
                        <img src="/images/Star.svg" alt="Star" />
                        <h2>Learn About Tovik</h2>
                    </header>
                    <div>
                        <p>
                            See Tovik's transparent pricing and get answers to your top questions.
                        </p>
                    </div>
                    <footer>
                        <a class="button primary-btn" href="/questions">Learn More</a>
                    </footer>
                </section>

                <section class="trial">
                    <header>
                        <img src="/images/Star.svg" alt="Star" />
                        <h2>Add Tovik To Your Site</h2>
                    </header>
                    <div>
                        @if (PersonalizedWelcome != null)
                        {
                            <p>Translate up to <s>10</s> 20 pages into 130+ languages, completely free. No credit card needed!</p>
                        }
                        else
                        {
                            <p>Translate up to 10 pages into 130+ languages, completely free. No credit card needed!</p>
                        }
                    </div>
                    <footer>
                        <a class="button primary-btn" href="/install">Start Now</a>
                    </footer>
                </section>
            </div>

        </div>
    </article>
}

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@inject IConfiguration Config

@code {
    BlossomAvatar? Avatar;
    bool IsACustomer;
    string? PersonalizedWelcome;
    string? WelcomeLink => PersonalizedWelcome == null ? "/sites" : $"/sites?welcome={PersonalizedWelcome}";
    Sparc.Blossom.Content.LanguageSelector? LanguageSelector;

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        IsACustomer = user.HasProduct("Tovik");

        Avatar = user.Avatar;

        if (Nav.Uri.Contains("sapient"))
            PersonalizedWelcome = "Sapient";
        else if (Nav.Uri.Contains("morbidology"))
            PersonalizedWelcome = "Morbidology";
    }

    async Task Spin()
    {
        if (LanguageSelector != null)
            await LanguageSelector.Spin();

        StateHasChanged();
    }

    async Task Revert()
    {
        if (LanguageSelector != null && Avatar?.Language != null)
            await LanguageSelector.SetLanguage(Avatar.Language.Id);
    }
}