@page "/"
@page "/home"
@page "/sapient"
@page "/morbidology"

@using Sparc.Blossom.Authentication
@using Tovik.Installation
@layout HomeLayout

<PageTitle>Tovik</PageTitle>


@if (Avatar != null)
{
    <article class="home">
        <div class="page-container">
            @if (PersonalizedWelcome != null)
            {
                <section class="trial mini">
                    <div>
                        <h2>
                            Welcome, @PersonalizedWelcome listener!
                        </h2>
                        <p>
                            As a token of your support, you can translate <strong><s>10</s> 20</strong> pages with Tovik Free!
                        </p>
                    </div>
                    <div>
                        <a class="button primary-btn" href="@WelcomeLink">Activate This Offer &rarr;</a>
                    </div>
                </section>
            }
            else if (IsACustomer)
            {
                <section class="trial mini">
                    <h2>
                        Welcome back, friend!
                    </h2>
                    <a class="button primary-btn" href="@WelcomeLink">Go To My Websites &rarr;</a>
                </section>
            }

            <section class="demo">
                <header>
                    <img src="/images/site-frame.svg" alt="Web browser facade" />
                </header>
                <div>
                    <h1>Your Website, Multilingual in Minutes</h1>

                    <p>
                        Say hello to Tovik — your website’s new multilingual partner.
                    </p>
                    <p>
                        With just one line of code, this lightweight tool automatically translates your site into 130+ languages, no developers or complicated setup required.
                    </p>

                    <footer>
                        <Sparc.Blossom.Content.LanguageSelector Avatar="Avatar" />
                    </footer>
                </div>
            </section>

            <div class="two">
                <section class="trial">
                    <header>
                        <img src="/images/Star.svg" alt="Star" />
                        <h2>Learn About Tovik</h2>
                    </header>
                    <div>
                        <p>
                            See Tovik's transparent pricing and get answers to your top questions.
                        </p>
                    </div>
                    <footer>
                        <a class="button primary-btn" href="/questions">Learn More</a>
                    </footer>
                </section>

                <section class="trial">
                    <header>
                        <img src="/images/Star.svg" alt="Star" />
                        <h2>Add Tovik To Your Site</h2>
                    </header>
                    <div>
                        @if (PersonalizedWelcome != null)
                        {
                            <p>Install Tovik and translate up to <s>10</s> 20 pages completely free. No strings attached!</p>
                        }
                        else
                        {
                            <p>Install Tovik and translate up to 10 pages completely free. No strings attached!</p>
                        }
                    </div>
                    <footer>
                        <a class="button primary-btn" href="/install">Start Now</a>
                    </footer>
                </section>
            </div>

        </div>
    </article>
}

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@inject IConfiguration Config

@code {
    BlossomAvatar? Avatar;
    bool IsACustomer;
    string? PersonalizedWelcome;
    string? WelcomeLink => PersonalizedWelcome == null ? "/sites" : $"/sites?welcome={PersonalizedWelcome}";

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        IsACustomer = user.HasProduct("Tovik");

        Avatar = user.Avatar;

        if (Nav.Uri.Contains("sapient"))
            PersonalizedWelcome = "Sapient";
        else if (Nav.Uri.Contains("morbidology"))
            PersonalizedWelcome = "Morbidology";
    }
}