@page "/credits"
@layout MainLayout

<article class="install-page">
    <div class="page-container">
        <header class="page-header">
            <h2>Made with ❤️</h2>
            <p class="subheader">Tovik is lovingly crafted by the team at <a href="https://sparc.coop">Sparc Cooperative</a>. We created Tovik because we believe that language should never be a barrier to understanding. We'd like to help folks everywhere read, experience, and share your unique voice.</p>
        </header>

        <section class="step-1">
            <header>
                <h3>The Tovik Team</h3>
            </header>
            <div>
                <ul>
                    <li><strong>Christine Antonio</strong> - User Experience Implementation</li>
                    <li><strong>Yoojung Song</strong> - User Experience Design</li>
                    <li><strong>Ana Chavez</strong> - Product Branding</li>
                    <li><strong>Fernando Rodrigues</strong> - Product Engineer</li>
                    <li><strong>Laura Ferraz</strong> - Product Engineer</li>
                    <li><strong>Joseph Young</strong> - Product Architecture</li>
                    <li><strong>Antonio Correia</strong> - Data Architecture</li>
                    <li><strong>Kayla Dipilato</strong> - Product Marketing</li>
                    <li><strong>Hannah Dipilato</strong> - Copywriter</li>
                </ul>
            </div>
        </section>

        <section class="step-1">
            <img src="/images/Star.svg" alt="Star" />
            <header>
                <h3>Need Help With Anything?</h3>
            </header>
            <div>
                <p>
                    Whether you’ve got a question, a curious thought, or just want to say hi, we’re here for you.
                    Reach out anytime, and someone from the Sparc crew will get back to you as soon as possible.
                </p>

                <p class="important">
                    Send us an email: <a href="mailto:support@sparc.coop">support@sparc.coop</a>
                </p>

            </div>
        </section>

    </div>
</article>

@code {
}
