<div class="demo-component">
    @* <div class="demo-background">
        <DashedLine />
    </div> *@
    <div class="demo-browser">
        <DemoBrowser/>
        <div class="demo-tovik">
            <div class="demo-bubble">
                <DemoBubble />
                <div class="bubble-text  tovik-enabled">
                    <span>Try our demo! Select your Language!</span>
                </div>
            </div>
            <div class="demo-character">
                <DemoChar />
            </div>
        </div>
        <div class="demo-selector">
            <select>
                <option>Placeholder Text</option>
            </select>
        </div>
        <div class="demo-preview tovik-enabled">
            <p>
                Taciti sociosqu ad litora torquent per conubia nostra. Tempus leo eu  aenean sed diam urna tempor. Cubilia curae hac habitasse platea dictumst lorem ipsum. Cras eleifend turpis fames primis vulputate ornare  sagittis. Ligula congue sollicitudin erat viverra ac tincidunt nam.
            </p>
            <p>
                Purus est efficitur laoreet mauris pharetra vestibulum fusce. Conubia  nostra inceptos himenaeos orci varius natoque penatibus. Urna tempor  pulvinar vivamus fringilla lacus nec metus. Lorem ipsum dolor sit amet  consectetur adipiscing elit. Ornare sagittis vehicula praesent dui felis venenatis ultrices. Tincidunt nam porta elementum a enim euismod quam.  Vestibulum fusce dictum risus blandit quis suspendisse aliquet.
            </p>
        </div>
    </div>
</div>