.install-page {
    ul {
        padding-left: 0;
    }

    .preview {
        header {
            justify-content: flex-start;
            align-items: flex-start;
        }

        img {
            height: 30px;
            margin: 0;
            width: auto;
        }
    }

    .page-header {
        .platforms {
            list-style: none;
            display: flex;
            gap: 16px;
            flex-wrap: wrap;

            button {
                background: var(--orange-100);
                border: 0;
                opacity: 0.3;
                padding: 8px 16px;
            }

            li:hover, li.selected {
                button {
                    background: var(--orange-300);
                    opacity: 1;
                }
            }

            li.comingsoon {
                button {
                    pointer-events: none;
                }
            }
        }
    }

    a.button {
        text-decoration: none;
        display: inline-block;
        width: auto;
        margin: 16px 0;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;

        ol, ul {
            padding-left: 32px;

            li {
                margin-bottom: 8px;
            }

            strong, code {
                color: var(--orange-300);
            }
        }

        > img {
            height: 30px;
        }

        header {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 32px;
            color: var(--blue-50, #EFF7F9);
            font-family: var(--articulat);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 100%;
            box-sizing: border-box;
        }
    }
}
