<div class="usage-meter">
	<header>
		<div>
			<span>@Usage.ToString("N0")</span> 
			/ 
			<span>@Limit.ToString("N0")</span>
		</div>

		@if (Limit < 500)
		{
			<button class="primary-btn" @onclick=Upgrade>Purchase Tovik</button>
		}
	</header>
	<div class="meter-container">
		<div class="meter-fill" style="width: @FillPercentage%"></div>
	</div>
</div>

@code {
	[Parameter] public int Usage { get; set; }
	[Parameter] public int Limit { get; set; }
	[Parameter] public EventCallback OnUpgrade { get; set; }
	int Remaining => Limit - Usage;

	int FillPercentage => Limit > 0 ? (int)((double)Usage / Limit * 100) : 0;

	async Task Upgrade()
	{
		await OnUpgrade.InvokeAsync();
	}
}