@using Tovik.Domains
<div class="usage-meter">
	<header>
		<div>
			<span>@Usage.ToString("N0")</span> 
			/ 
			<span>@Limit.ToString("N0")</span>
		</div>

		@if (Limit < 500)
		{
			<a class="button secondary-btn" href="@UpgradeLink">Upgrade</a>
		}
	</header>
	<div class="meter-container">
		<div class="meter-fill" style="width: @FillPercentage%"></div>
	</div>
</div>

@inject TovikDomains Domains
@code {
	[Parameter] public required SparcDomain Domain { get; set; }
	int Usage;
	int Limit;

	protected override async Task OnParametersSetAsync()
	{
		var pages = await Domains.GetPages(Domain.Domain);
		Usage = pages.Count;
		Limit = Domain?.Product("Tovik")?.MaxUsage ?? 20;
	}

	int Remaining => Limit - Usage;
	int FillPercentage => Limit > 0 ? (int)((double)Usage / Limit * 100) : 0;
	string UpgradeLink => $"/app/{Domain.Id}/upgrade";
}