@using Sparc.Blossom.Content
@using Tovik.Domains
@using Tovik.Domains.Settings

<article class="domain-page">
    @if (Domain != null)
    {
        <section class="icon-header">
            <header>
                <img src="/images/TranslationIcon.svg" alt="Languages Supported" />
                <div>
                    <h3>Languages Supported</h3>
                    <p>Choose one of the 200+ languages and 600+ dialects to preview your Tovik-enabled site as a native speaker would see it.</p>
                </div>
            </header>
            <div>
                <LanguageSelector InitialLanguageId="@InitialLanguageId" OnLanguageChanged="OnLanguageChange" />
            </div>
        </section>

        <section class="icon-header">
            <header>
                <img src="/icons/Ignore.svg" alt="Ignore Words or Phrases" />
                <div>
                    <h3>Ignore Words or Phrases</h3>
                    <p>Add any words or phrases you'd like to not be translated on your site (brand names, etc.).</p>
                </div>
            </header>
            <div>
                <Exemptions Domain="Domain" OnChange="OnChange" />
            </div>
        </section>
    }
</article>

@inject TovikDomains TovikDomains
@code {
    [Parameter] public required SparcDomain Domain { get; set; }
    [Parameter] public Page? Page { get; set; }
    [Parameter] public EventCallback<Language> OnLanguageChange { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }
    [Parameter] public string? InitialLanguageId { get; set; }

    // async Task Preview()
    // {
    //     if (Domain?.DateConnected != null && !string.IsNullOrWhiteSpace(PreviewLanguage))
    //     {
    //         var url = Domain.ToUri().ToString() + "?lang=" + PreviewLanguage;
    //         await Js.InvokeVoidAsync("open", url, "_blank");
    //     }
    //     else if (Domain != null)
    //     {
    //         var url = Nav.BaseUri + "preview?u=" + Domain?.Domain + "&l=" + PreviewLanguage;
    //         await Js.InvokeVoidAsync("open", url, "_blank");
    //     }
    // }
}