.domain-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.preview {
    > div {
        display: grid;
        grid-template-columns: auto 80px;
        gap: 8px;
    }
}

::deep .language-select {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
    border-radius: 20px;

    &:after {
        border-top: 5px solid white;
    }
}

::deep .language-select select {
    width: 100%;
    outline: none;
}

.icon-header > header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    > img {
        margin: 0;
    }

    @media (orientation: landscape) {
        display: grid;
        grid-template-columns: 48px auto;

        > img {
            margin: 0 auto;
        }
    }
}