.domain-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    section {
        padding: 0;
        background: rgba(79, 129, 153, 0.20);
        border-radius: 32px;
        width: 100%;

        header {
            background: var(--blue-600);
            border-radius: 32px;
            display: grid;
            grid-template-columns: 48px auto;
            gap: 16px;
            align-items: center;
            padding: 24px;

            > img {
                height: 32px;
                margin: 0 auto;
            }
        }

        > div {
            padding: 24px 86px;
        }
    }

    h3 {
        font-size: 1.8rem;
        line-height: 100%;
        margin-bottom: 8px;
        color: var(--blue-50);
    }

    p {
        color: var(--blue-50);
    }
}

.cta {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    background: rgba(79, 129, 153, 0.20);
    border-radius: 32px;
    padding: 32px 24px;
    box-sizing: border-box;
    width: 100%;

    h4 {
        font-size: 2rem;
        margin-bottom: 8px;
        color: var(--blue-50);
    }

    p a {
        color: var(--orange-300);
        text-decoration: underline;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

    a.button {
        img {
            position: relative;
            top: 1px;
        }
    }
}


.preview {
    > div {
        display: grid;
        grid-template-columns: auto 80px;
        gap: 8px;
    }
}

::deep .language-select {
    background-color: var(--blue-600);
    border: 1px solid var(--blue-500);
    border-radius: 20px;

    &:after {
        border-top: 5px solid white;
    }
}

::deep .language-select select {
    width: 100%;
    outline: none;
}
