<table class="exempt-table">
    <thead>
        <tr>
            <td>Word or Phrase</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var word in Domain.Settings.IgnoreList)
        {
            <tr>
                <td>@word</td>
                <td>
                    <button class="delete-exempt-btn secondary-btn round-btn" @onclick="(() => Delete(word))"><TrashIcon /></button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <input type="text" @bind=NewExemption placeholder="Enter a word or phrase..." />
            </td>
            <td>
                <button class="add-btn secondary-btn" @onclick=Add>Add</button>
            </td>
        </tr>

    </tfoot>
</table>

@inject TovikDomains TovikDomains
@code {
    [Parameter] public required SparcDomain Domain { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }
    string NewExemption = "";

    async Task Add()
    {
        if (Domain != null && !string.IsNullOrWhiteSpace(NewExemption))
        {
            Domain.AddToIgnoreList(NewExemption);
            await TovikDomains.Update(Domain);
            NewExemption = string.Empty; // Clear the input after adding
            await OnChange.InvokeAsync();
        }
    }

    async Task Delete(string word)
    {
        Domain.RemoveFromIgnoreList(word);
        await TovikDomains.Update(Domain);
        await OnChange.InvokeAsync();
    }
}
