table {
    width: 100%;

    input {
        width: 100%;
    }

    tr {
        width: 100%;
        display: grid;
        grid-template-columns: auto 100px;
        gap: 16px;
    }

    td {
        padding: 0 8px;
        display: flex;
        align-items: center;

        &:last-child {
            justify-content: flex-end;
        }
    }
}

