@using Sparc.Blossom.Content
<table>
    <thead>
        <tr>
            <th>
                <h4>Language</h4>
                Dialect
            </th>
            <th>
                Page Count<br />
                (Up to @Domain.Product("Tovik")?.MaxUsage)
            </th>
            <th>
                Total Word Count<br />
                (Unlimited)
            </th>
            <th>
                Last Translated
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var language in Stats.OrderByDescending(x => x.Value))
    {
        <tr>
            <td>
                <h4>@language.Key.LanguageDisplayName</h4>
                @language.Key.DialectDisplayName
            </td>
            <td>
                @language.Value
            </td>
            <td></td>
            <td></td>
        </tr>
    }
    </tbody>
</table>

@if (!Stats.Any())
{
    <aside>Nothing to see here yet!</aside>
}


@inject ITovik Tovik
@inject TovikDomains TovikDomains
@code {
    [Parameter] public required SparcDomain Domain { get; set; }
    [Parameter] public Page? Page { get; set; }
    Dictionary<Language, int> Stats = [];
    IEnumerable<Language> Languages = [];

    protected override async Task OnParametersSetAsync()
    {
        if (Languages.Count() == 0)
            Languages = await Tovik.GetLanguages();

        if (Page != null)
        {
            Stats = Page.TovikUsage
            .GroupBy(x => Language(x.Key)!)
            .ToDictionary(g => g.Key, g => g.Sum(x => x.Value)) ?? [];
        }
        else
        {
            var allPages = await TovikDomains.GetPages(Domain.Domain);
            Stats = allPages
                .SelectMany(p => p.TovikUsage)
                .GroupBy(x => Language(x.Key)!)
                .ToDictionary(g => g.Key, g => g.Sum(x => x.Value)) ?? [];
        }
    }

    Language? Language(string id) => Languages.FirstOrDefault(x => x.Matches(id));

    string FillPercentage(Language language)
    {
        if (Domain == null || Domain.TovikUsage == 0)
            return "0";

        var total = Stats.Values.Sum();
        if (total == 0)
            return "0";

        if (Stats.TryGetValue(language, out var usage))
        {
            var result = (decimal)usage / total * 100;
            return result.ToString("0.##") + "%";
        }

        return "0";
    }
}
