.stats {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: 800px) {
        grid-template-columns: 3fr 7fr;
    }

    dt {
        font-family: var(--brother-printed);
        font-size: 1.8rem;
    }

    dd {
        box-sizing: border-box;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 8px;
    }
}
