.usage-meter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 14px;
    margin-bottom: 8px;

    header {
        color: white;
        font-family: var(--brother-printed);
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        button {
            align-self: initial;
            width: auto;
        }

        span {
            &:first-child {
                font-size: 3.125rem;
            }
        }
    }
}
