article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 10vh 0;
    padding: 0 6vw;

    > header {
        width: 100%;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 24px 0;

        h1 {
            font-size: 2.5rem;
        }

        p {
            color: var(--blue-300);
            margin: 0;
        }
    }

    a.back {
        margin-bottom: 24px;
    }

    section {
        border-radius: 32px;
        width: 100%;
        border: 1px solid rgba(219, 243, 252, 0.20);
        background: rgba(79, 129, 153, 0.20);
        backdrop-filter: blur(4px);
        padding: 24px;
        max-width: 1150px;
        box-sizing: border-box;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            display: flex;
            gap: 4px;
            align-items: center;
        }
    }
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    list-style: none;
    align-items: center;
    background: none;
    cursor: pointer;

    figure {
        display: grid;
        width: 100%;
        grid-template-rows: 72px auto;
        align-items: center;
        justify-content: center;
        gap: 16px;
        opacity: 0.4;
        margin: 0;

        figcaption {
            font-family: var(--brother-printed);
            font-weight: 700;
            font-size: 2rem;
        }

        img {
            display: block;
            margin: 0 auto;
        }

        &.active {
            opacity: 1;
        }
    }
}

::deep h2 {
    font-size: 2.2rem;
}

::deep p {
    margin-bottom: 16px;
}

.welcome {
    header img {
        height: 60px;
        width: auto;
    }
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 16px;
}

h3 {
    font-size: 2rem;
}

p {
    margin-bottom: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    button {
        max-width: 200px;
    }
}

a.button {
    text-decoration: none !important;
    display: inline-block;
    margin: 16px 0;
    border: 1px solid var(--orange-300);
    background: transparent;
    color: var(--orange-300);

    &:hover {
        border-color: var(--orange-100);
        background: transparent;
        color: var(--orange-100);
    }
}

.step-1, .step-2 {
    padding: 32px;

    p, li {
        font-size: 1.4rem;
    }

    header aside {
        font-size: 1.4rem;
    }
}

footer aside {
    font-size: 1.4rem;
    margin-bottom: 8px;
}

ol, ol li {
    list-style: decimal;
}

section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

    ol, ul {
        padding-left: 32px;

        li {
            margin: 8px 0;
        }

        strong, code {
            color: var(--orange-300);
        }
    }

    > img {
        height: 30px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 32px;
        color: var(--blue-50, #EFF7F9);
        font-family: var(--articulat);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 100%;
        box-sizing: border-box;
    }
}
