<form @onsubmit=Add>
    <label>
        <input type="text" placeholder="Enter a domain name" @bind="NewDomain" @bind:event="oninput" />
    </label>

    <button class="add-btn primary-btn" type="submit" disabled="@IsVerifying">
        Verify
    </button>
</form>

@if (Error != null)
{
    <div class="error-message">@Error</div>
}

@inject Tovik.Domains.TovikDomains TovikDomains
@code {
	[Parameter] public EventCallback OnAdded { get; set; }
    bool IsVerifying;
    string NewDomain = "";
    string? Error;
    

    private async Task Add()
    {
        IsVerifying = true;
        StateHasChanged();

        try
        {
            var newDomain = await TovikDomains.RegisterAsync(NewDomain);
            NewDomain = "";
            if (OnAdded.HasDelegate)
                await OnAdded.InvokeAsync();
			else
                Nav.NavigateTo($"/sites/{newDomain.Id}");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            NewDomain = "";
        }

        IsVerifying = false;
    }
}
