<form class="@Mode" @onsubmit=GoToPreview>
    <input type="text" placeholder="Enter your URL" @bind=Url required />
    <button disabled="@IsVerifying">
        @(Mode == "Sites" ? "Add Domain" : "Preview")
    </button>
</form>

@if (ErrorMessage != null)
{
    <span class="error-message">@ErrorMessage</span>
}

@inject Tovik.Domains.TovikDomains TovikDomains
@code {
    [Parameter] public string? Mode { get; set; }
    bool IsVerifying;
    string Url = "";
    string? ErrorMessage;

    async Task GoToPreview()
    {
        if (Url == null)
        {
            ErrorMessage = "Please enter a URL.";
            return;
        }

        ErrorMessage = null;
        IsVerifying = true;
        StateHasChanged();

        try
        {
            var domain = await TovikDomains.RegisterAsync(Url);
            if (domain != null)
                Nav.NavigateTo($"/sites/{domain.Id}/preview");
            else
                ErrorMessage = "Please enter a valid URL.";
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
        finally
        {
            IsVerifying = false;
        }
    }
}
