@page "/sites"
@using Sparc.Blossom.Content
@using Tovik.Installation
@layout MainLayout

<PageTitle>Tovik - My Websites</PageTitle>

<article class="home">
    <div class="page-container">
        @if (Limit > 0 && !Domains.Any())
        {
            <section class="welcome">
                <img src="/images/Star.svg" alt="Star" />
                <header>
                    <h3>Welcome to Tovik!</h3>
                </header>
                <p>
                    We're so happy you're here.
                </p>
                <p>
                    Tovik is designed to make it easy to translate your website into multiple languages, so you can reach a global audience without the hassle of managing translations manually.
                </p>
                <p>
                    To get started, <span>enter the domain name</span> for the website where you'd like to install Tovik. Next, we'll guide you through adding a single line of code to get Tovik up and running.
                </p>
            </section>
        }

        <section class="manage-domains">
            <header>
                <h3>My Websites</h3>
            </header>
            <p>
                Manage your Tovik-enabled websites here. You can add as many domains as you'd like!
            </p>

            <Tovik.Domains.AddDomain />

            @foreach (var domain in Domains)
            {
                <DomainCard Domain=domain PageType="home" Languages=Languages />
            }
        </section>

        <section class="word-usage">
            <header>
                <h3>Tovik Usage</h3>
            </header>

            @if (IsTrial)
            {
                <p>Your free trial of Tovik includes @Limit.ToString("N0") pages, with no time limits or restrictions.</p>
            }
            else
            {
                <p>Thank you for supporting Tovik with your purchase of Tovik Pro!</p>
            }

            <div>
                <h4>Pages Translated</h4>
                <UsageMeter Usage=Usage Limit=Limit />
            </div>

            @if (IsTrial)
            {
                <footer>
                    <button class="primary-btn" @onclick=Buy>Upgrade to Tovik Pro</button>
                </footer>
            }
        </section>
    </div>
</article>

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@inject IConfiguration Config
@inject ISparcBilling Billing
@inject ITovik Tovik

@code {
    List<SparcDomain> Domains = new();
    IEnumerable<Sparc.Blossom.Content.Language> Languages = [];
    GetProductResponse? Product;
    [SupplyParameterFromQuery] public string? Welcome { get; set; }

    int Usage;
    int Limit;
    bool IsTrial => Limit <= 20;

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        var product = user.Product("Tovik");

        var options = Welcome == "Sapient" || Welcome == "Morbidology"
            ? new SparcProductActivationOptions(40)
            : null;

        if (product == null) // Start free trial
            product = await Aura.Activate("Tovik", options);

        await LoadDomains();
        Limit = product.MaxUsage;
        Usage = Domains.Sum(d => d.TovikUsage);
        Languages = await Tovik.GetLanguages();
        Product = await Billing.GetProductAsync(Config["ProductId"]!);
    }

    private async Task Buy()
    {
        var totp = await Aura.GetSparcCode();
        if (totp != null)
            Nav.NavigateTo($"{Config["SparcStore"]}?_auth=totp:{totp.Code}");
    }

    private async Task LoadDomains()
    {
        Domains = await TovikDomains.All();
    }
}