@page "/sites"
@using Sparc.Blossom.Content
@using Tovik.Installation
@layout MainLayout

<PageTitle>Tovik - My Sites</PageTitle>

<article>
    <header>
        <h1>My Sites</h1>
        <p>Here is an overview of your Tovik-activated domains and translation usage.</p>
    </header>
    <section>
        @foreach (var domain in Domains)
        {
            <DomainCard Domain=domain />
        }

        <button class="secondary-btn">
            <img src="/icons/Add.svg" alt="Add a New Domain" />
            <div>
                Add a New Domain
                <p>Start for free</p>
            </div>
        </button>

        @if (Error != null)
        {
            <div class="error-message">@Error</div>
        }
    </section>
</article>

@inject Tovik.Domains.TovikDomains TovikDomains
@inject IConfiguration Config
@inject ISparcBilling Billing
@inject ITovik Tovik

@code {
    List<SparcDomain> Domains = new();
    bool IsVerifying;
    string NewDomain = "";
    string? Error;

    protected override async Task OnInitializedAsync()
    {
        await LoadDomains();
    }

    private async Task LoadDomains()
    {
        Domains = await TovikDomains.All();
    }

    private async Task Add()
    {
        IsVerifying = true;
        StateHasChanged();

        try
        {
            var newDomain = await TovikDomains.RegisterAsync(NewDomain);
            NewDomain = "";
            Nav.NavigateTo($"/sites/{newDomain.Id}");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            NewDomain = "";
        }

        IsVerifying = false;
    }
}