.domain-page {
    .page-container {

        .page-header a {
            text-decoration: underline;
        }

        section.welcome {
            align-items: flex-start;

            > img {
                height: 30px;
            }

            a {
                text-decoration: underline !important;
            }

            strong {
                color: var(--orange-300);
            }

            ol {
                font-size: 1.6rem;
                padding-left: 32px;
                width: calc(100% - 32px);

                li {
                    margin: 16px 0;

                    p {
                        margin-bottom: 16px;
                    }

                    span {
                        color: var(--orange-300);
                        font-weight: 600;
                    }
                }
            }

            aside {
                font-size: 1.4rem;
                opacity: 0.7;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .domain-summary {
            > div {
                max-height: 300px;
                overflow-y: auto;
            }
        }

        .preview {
            > div {
                display: grid;
                grid-template-columns: auto 80px;
                gap: 8px;
            }

            ::deep .language-select {
                background-color: var(--blue-600);

                &:after {
                    border-top: 5px solid white;
                }

                select {
                    background-color: var(--blue-600);
                }
            }
        }

        .connection-btn {
            margin-top: 16px;
            width: auto;
        }

        .domain-connection {
            display: flex;
            flex-direction: column;
            gap: 24px;

            aside {
                font-size: 1.4rem;
            }
        }

        aside {
            font-size: 1.6rem;
        }

        .exemptions {
            table {
                tbody {
                    width: 100%;

                    tr {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }

                td {
                    padding: 0;
                }
            }

            .exempt-actions {
                display: flex;
                flex-direction: row;
                justify-content: end;
                gap: 8px;

                button {
                    aspect-ratio: 1/1;
                    height: 48px;
                    padding: 0;
                }
            }
        }
    }

    .page, .language {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        @media screen and (min-width: 800px) {
            grid-template-columns: 3fr 7fr;
        }

        header {
            font-family: var(--brother-printed);
            font-size: 1.8rem;
        }

        ul {
            display: flex;
            gap: 8px;
            width: 100%;
            overflow-x: auto;
            padding-bottom: 8px;
            list-style: none;
        }

        li {
            background-color: var(--orange-300);
            padding: 4px 16px;
            border-radius: 20px;
            position: relative;
            margin: 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;

            a {
                text-decoration: none;
            }

            &:hover {
                background-color: var(--orange-100);
            }

            .count {
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
                text-align: center;
                color: var(--blue-200);
                font-size: 1.4rem;
                font-weight: 700;
            }

            .language-id {
                font-size: 1.6rem;
                font-weight: 500;
                color: var(--blue-700);
            }
        }
    }

    .language {
        padding: 8px 0;
    }
}

.meter {
    &-container {
        width: 100%;
        height: 20px;
        background: var(--orange-100);
        border-radius: 32px;
        position: relative;
        overflow: hidden;
    }

    &-fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        // width set dynamically in razor component
        border-radius: 32px;
        background: repeating-linear-gradient(110deg, var(--orange-200), var(--orange-200) 8px, var(--orange-300) 8px, var(--orange-300) 16px);
    }
}

.purchase-sidebar {
    position: fixed;
    top: 0;
    right: -600px;
    bottom: 0;
    background-color: var(--blue-600);
    padding: 0;
    border-left: 1px solid var(--blue-200);
    max-width: min(90vw, 400px);
    overflow-y: auto;
    z-index: 1400;
    transition: transform 0.3s ease-in-out;

    &.open {
        transform: translateX(-600px);
    }

    ::deep > div {
        padding: 16px;
    }

    > header {
        text-align: right;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        padding: 16px;
        z-index: 1500;
        background: var(--blue-700);
        display: grid;
        grid-template-columns: auto 36px;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 2.4rem;
            padding-left: 16px;
        }

        ::deep svg path {
            stroke: white;
        }
    }
}