@using Sparc.Blossom.Content

<article>
    <header>
        <DomainName Domain="Domain" />
        <button class="secondary-btn round-btn" @onclick="DeleteDomain">
            <img src="/icons/Trash.svg" alt="Delete this domain" />
        </button>
    </header>

    <Tovik.Domains.Settings.UsageMeter Domain="Domain" />

    @if (Edition == "Preview")
    {
        <footer>
            <a href="@($"/sites/{Domain.Id}")" class="button secondary-btn">Manage Domain</a>
            <a href="@($"/sites/{Domain.Id}/preview")" class="button">Preview</a>
        </footer>
    }
    else
    {
        <footer>
            <a href="@($"/sites/{Domain.Id}")" class="button secondary-btn">Manage Domain</a>
            <a href="@($"/sites/{Domain.Id}/preview")" class="button">Translation Settings</a>
        </footer>
    }
</article>

@inject Tovik.Domains.TovikDomains TovikDomains 
@inject IJSRuntime Js
@code {
    [Parameter] public required SparcDomain Domain { get; set; }
    [Parameter] public required IEnumerable<Language> Languages { get; set; }
    [Parameter] public string? PageType { get; set; }
    [Parameter] public EventCallback OnUpgrade { get; set; }
    string? ErrorMessage;
    bool IsSidebarOpen = false;
    SparcLicense? License => Domain.Product("Tovik");
    string Edition => Domain.Product("Tovik")?.TierId ?? "Preview";

    bool showDeleteModal = false;

    Language? Language(string id) => Languages.FirstOrDefault(x => x.Matches(id));
    async Task Upgrade()
    {
        await OnUpgrade.InvokeAsync();
    }

    void ToggleSidebar()
    {
        IsSidebarOpen = !IsSidebarOpen;
    }

    async Task Verify()
    {
        var result = await Domain.VerifyAsync();
        if (result)
        {
            await TovikDomains.Update(Domain);
            ErrorMessage = null;
        }
        else
        {
            ErrorMessage = $"{Domain.Domain} does not contain the expected Tovik script: https://tovik.app/tovik.js. Please ensure Tovik is installed correctly on this domain.";
        }
    }

    private async Task DeleteDomain()
    {
        var confirm = await Js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {Domain.Domain}? This action cannot be undone.");
        if (!confirm)
            return;

        await TovikDomains.DeleteAsync(Domain);
        Nav.Refresh(true);
    }
}