article {
    width: var(--app-width);
    position: relative;

    .page-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        background: rgba(79, 129, 153, 0.20);
        border: 1px solid rgba(219, 243, 252, 0.20);
        border-radius: 24px;
        backdrop-filter: blur(4px);

        header {
            h3 {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: normal;
            }

            .subheader {
                font-family: var(--articulat);
                font-size: 1.6rem;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.1px;
            }
        }

        h4 {
            color: #FFF;
            font-family: var(--brother-printed);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &.welcome {
            align-items: flex-start;

            > img {
                height: 30px;
            }

            a {
                text-decoration: underline !important;
            }

            ul {
                font-size: 1.6rem;
                padding-left: 32px;

                li {
                    margin: 8px 0;
                }
            }

            aside {
                font-weight: 600;
                font-style: italic;
                color: var(--orange-300);
            }

            span {
                color: var(--orange-300);
            }
        }

        &.add-domain form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            label {
                input {
                    width: var(--container-width);
                }
            }
        }

        .btn-container {
            width: 100%;
            /*button {
                display: flex;
                width: 100%;
                height: 48px;
                padding: 16px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 20px;
                border: 1px solid var(--orange-300, #FF945E);
                background: var(--orange-300, #FF945E);
                color: var(--blue-700, #07374F);*/
            /* Body/Regular/Medium */
            /*font-family: var(--articulat);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }*/
        }
    }

    aside {
        font-size: 1.4rem;
        margin: 24px 0;
        font-style: italic;
    }

    section.trial {
        background: rgba(79, 129, 153, 0.20);
        border: 1px solid rgba(219, 243, 252, 0.20);
        border-radius: 24px;
        backdrop-filter: blur(4px);

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 16px;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }

        p, li {
            font-family: var(--articulat);
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 24px;
            letter-spacing: 1.1px;
            line-height: 150%;
        }

        ul {
            padding-left: 0;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;
            margin-top: 48px;

            p {
                margin-top: 8px;
            }

            @media screen and (min-width: 600px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        li {
            margin-bottom: 0;
            background-color: var(--blue-600);
            border-radius: 24px;
            padding: 24px;

            p {
                margin-bottom: 0;
            }
        }

        h2 {
            display: flex;
            justify-content: space-between;
        }

        span {
            display: inline-block;
            margin-left: 4px;
            color: var(--orange-300);
        }

        label {
            display: block;
            font-weight: 600;
            font-size: 1.6rem;
            margin: 32px 0;
        }

        > div {
            width: 100%;
        }

        input {
            margin-top: 8px;
        }

        > header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        footer {
            margin-top: 16px;
            width: 100%;

            button {
                width: 100%;
            }
        }

        img {
            height: 30px;
        }

        header {
            h3 {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: normal;
            }

            .subheader {
                font-family: var(--articulat);
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 140%;
            }
        }

        h4 {
            color: #FFF;
            font-family: var(--brother-printed);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
