.domain-card {
    padding: 32px;
    border-radius: 32px;
    border: 1px solid rgba(219, 243, 252, 0.20);
    background: rgba(79, 129, 153, 0.20);
    box-sizing: border-box;
    backdrop-filter: blur(4px);

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    dd.no {
        color: var(--orange-300);
    }

    a {
        text-decoration: underline;
    }

    header {
        position: relative;

        img {
            height: 32px;
        }

        h2 {
            color: white;
            font-family: var(--brother-printed);
            font-size: 2rem;
            font-weight: 700;
            margin-top: 24px;

            ::deep svg {
                margin-left: 8px;
            }
        }

        a.button {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 200px;
            text-decoration: none;
        }
    }

    ul.languages {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 8px;
        margin: 32px 0;

        li {
            padding: 6px 10px;
            border-radius: 8px;
            background: var(--blue-100);
            border: 1px solid var(--blue-100);
            color: var(--blue-700);
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    footer {
        border-top: 1px solid var(--blue-400);
        margin-top: 32px;
        padding-top: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            list-style: none;
        }

        li {
            display: flex;
            gap: 8px;
            align-items: center;

            span {
                color: var(--orange-300);
            }
        }
    }

    > p {
        margin: 32px 0;
    }

    .actions-btn {
        background: var(--blue-700);
        border: 1px solid var(--blue-600);
        border-radius: 20px;
        width: 100%;
        padding: 16px 24px;
        color: var(--blue-100);
        font-weight: 500;
        margin-top: 24px;

        @media screen and (min-width: 600px) {
            width: auto;
            margin-top: 0;
        }
    }

    .delete-btn {
        margin-top: 24px;

        @media screen and (min-width: 600px) {
            margin-top: 0;
        }
    }
}

.purchase-sidebar {
    position: fixed;
    top: 0;
    right: -600px;
    bottom: 0;
    background-color: var(--blue-600);
    padding: 0;
    border-left: 1px solid var(--blue-200);
    max-width: min(90vw, 400px);
    overflow-y: auto;
    z-index: 14000;
    transition: transform 0.3s ease-in-out;

    &.open {
        transform: translateX(-600px);
    }

    ::deep > div {
        padding: 16px;
    }

    > header {
        text-align: right;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        padding: 16px;
        z-index: 1500;
        background: var(--blue-700);
        display: grid;
        grid-template-columns: auto 36px;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 2.4rem;
            padding-left: 16px;
        }

        ::deep svg path {
            stroke: white;
        }
    }
}