@page "/sites"
@using Sparc.Blossom.Content

<PageTitle>Tovik - My Sites</PageTitle>

<article>
    <header class="infopage">
        <h1>My Sites</h1>
        <p>Here is an overview of your Tovik-activated domains and translation usage.</p>


    </header>
    <section>
        @foreach (var domain in Domains.OrderByDescending(x => x.Product("Tovik")?.MaxUsage))
        {
            <DomainCard Domain=domain />
        }

        @if (IsAdding)
        {
            <div class="add-domain adding">
                <img src="/icons/Add.svg" alt="Add a New Domain" />
                <AddDomain Mode="Sites" />
            </div>
        }
        else
        {
            <div class="add-domain" @onclick=Add>
                <img src="/icons/Add.svg" alt="Add a New Domain" />
                <div>
                    Add a New Domain
                    <p>Start for free</p>
                </div>
            </div>
        }
    </section>
</article>

@inject Tovik.Domains.TovikDomains TovikDomains
@inject IConfiguration Config
@inject ISparcBilling Billing

@code {
    List<SparcDomain> Domains = new();
    bool IsAdding;

    protected override async Task OnInitializedAsync()
    {
        await LoadDomains();
    }

    private async Task LoadDomains()
    {
        Domains = await TovikDomains.All();
    }

    private async Task Add()
    {
        IsAdding = true;
    }
}