article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    > section {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        width: min(85vw, 880px);

        button.secondary-btn {
            width: 100%;
            justify-content: flex-start;
            gap: 16px;
            font-family: var(--brother-printed);
            font-weight: 700;
            font-size: 2rem;
            padding: 32px 24px;
        }
    }
}

form {
    padding: 32px 24px;
}
