.browser {
    margin-top: 70px;
    height: calc(100cqh - 70px);
    width: 100cqw;
    z-index: 1700;
    background-color: var(--blue-700);
    display: grid;
    grid-template-columns: auto minmax(30vw, 600px);

    iframe {
        background-color: var(--blue-200);
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 1100;
    }
}

aside {
    position: fixed;
    bottom: 16px;
    left: 16px;
    padding: 8px 16px;
    background-color: var(--blue-600);
    color: white;
    max-width: 70vw;
    font-size: 1.2rem;
    border-radius: 16px;
    z-index: 2100;
}


article {
    position: relative;
    background-color: var(--blue-700);
    height: 100%;
    overflow-y: auto;
    z-index: 1800;
    padding: 32px 40px;

    h1 {
        font-size: 2.5rem;
    }
}

    article header {
        padding: 24px 0;

        p {
            color: var(--blue-300);
        }
    }


a.back {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--blue-50);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--brother-printed);
    padding: 12px 17px;
}
