@using Sparc.Blossom.Content
@using Tovik.Domains.Settings
@using Tovik.Translation
@page "/sites/{Id}/preview"
@layout EmptyLayout

<div class="browser">
    <iframe srcdoc="@CrawlResult?.Html" @ref=IFrame>
    </iframe>

    @if (Domain != null)
    {
        <article>
            @if (CrawlResult?.IsTovikInstalled == true)
            {
                <a href="/sites" class="back">
                    <img src="/icons/ChevronLeft.svg" alt="Back" />
                    Back to My Sites
                </a>
            }
            
            <header>
                <img class="preview" src="/images/TovikMagicWand.png" alt="Tovik Magic Wand" />
                <p class="preview">With Tovik, everyone can understand.</p>
            </header>

            @if (CrawlResult != null && CrawlResult.IsTovikInstalled == false)
            {
                <div class="cta">
                    <div>
                        <p>
                            Tovik is a lightweight plugin that <strong>automatically translates your entire site</strong> into your visitor's native language.
                        </p>
                    </div>

                    <LanguageSelector InitialLanguageId="@Lang" OnLanguageChanged="UpdateLanguage" />

                    <div class="buttons">
                        <a class="button primary-btn" href="/sites/@Domain.Id/activate">
                            Install Tovik on @Domain.Domain
                        </a>
                    </div>
                </div>

                <div class="cta2">
                    Want to learn more?
                    <a href="/questions">FAQ</a> |
                    <a href="/pricing">Pricing</a>
                </div>

            }
            else if (CrawlResult?.IsTovikInstalled == true)
            {
                <DomainSettings Domain="Domain" Page="Page" OnChange="ForceReload" InitialLanguageId="@Lang" OnLanguageChange="UpdateLanguage" />
            }
        </article>
    }
</div>

@inject TovikDomains Domains
@inject TovikCrawler Crawler
@code {
    [Parameter] public required string Id { get; set; }
    SparcDomain? Domain;
    Page? Page;
    List<string> History = [];
    string Url = string.Empty;
    TovikCrawlResult? CrawlResult;
    string? ErrorMessage;
    string? Lang;

    ElementReference IFrame;


    protected override async Task OnParametersSetAsync()
    {
        ErrorMessage = null;
        Lang = Sparc.Blossom.Content.Language.Random.Id;
        Domain = await Domains.Get(Id);

        if (Domain != null)
        {
            Url = Domain.Domain;
            await LoadPage();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Js.InvokeVoidAsync("initPreview", DotNetObjectReference.Create(this));
    }

    async Task ForceReload()
    {
        if (CrawlResult != null)
            await Js.InvokeVoidAsync("forceReloadPreview", IFrame);
    }

    async Task LoadPage()
    {
        if (string.IsNullOrWhiteSpace(Url))
            return;

        ErrorMessage = null;
        CrawlResult = null;

        (Domain, Page) = await Domains.GetDomainAndPage(Url);
        if (Domain != null && !Domain.IsBlocked && Page != null)
            CrawlResult = await Crawler.PreviewAsync(Domain, Page, Lang);
        else
            ErrorMessage = Domain?.IsBlocked == true
                ? "This domain is not compatible with Tovik."
                : "Please enter a valid URL.";
    }

    async Task UpdateLanguage(Sparc.Blossom.Content.Language lang)
    {
        ErrorMessage = null;
        Lang = lang.Id;
        try
        {
            if (CrawlResult == null)
                await LoadPage();
            else
                await Js.InvokeVoidAsync("changePreviewLanguage", IFrame, Lang);
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
        }
    }

    [JSInvokable]
    public async Task UpdateUrl(string url)
    {
        if (url == Url)
            return;

        Url = url;
        await LoadPage();
        StateHasChanged();
    }

    void Back()
    {
        if (History.Count > 0)
        {
            var lastUrl = History.Last();
            History.RemoveAt(History.Count - 1);
            Nav.NavigateTo($"/preview?u={lastUrl}", false);
        }
        else
        {
            Nav.NavigateTo("/", false);
        }
    }
}
