header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 32px;
    width: 100%;
    background-color: var(--blue-700);
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a img {
        height: 30px;
    }
}
