@inherits LayoutComponentBase

<div class="layout-container">
    <NavMenu />

    <main>
        <div class="main-grid">
            <div class="hero">
                <div class="hero-img">
                    <PrimaryLogo FontColor="#FF945E" />
                </div>
                <div class="hero-background"><DashedLine Color="#FFD4BF" /></div>
            </div>
            @Body
        </div>
    </main>
</div>