@inherits LayoutComponentBase


<div class="hero-background"><DashedLine Color="#FFD4BF" /></div>
<header>
	<a class="logo" href="/">
		<img src="/images/TovikWordmark.svg" alt="Tovik" />
	</a>

	<div class="buttons">
		<Sparc.Blossom.Content.LanguageSelector Visible=true WithButton=true />
		<a class="button primary-btn" href="/app">Start</a>
	</div>
</header>

<main>
	@Body
</main>

<footer>
	&copy; Sparc Cooperative Association.
	<a href="/Privacy">Privacy</a> |
	<a href="/Terms">Terms of Use</a>
</footer>
