main {
    width: var(--app-width);
    margin-top: 100px;
    padding: 0 16px;
    padding-bottom: 24px;
    color: var(--blue-50);

    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        ::deep article {
            grid-column: 1 / span 4;
            margin-top: 200px;
        }
    }

    .hero {
        width: var(--app-width);
        height: fit-content;
        position: relative;

        &-img {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            ::deep svg {
                width: 263px;
                height: auto;
            }
        }

        &-background {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
            opacity: 0.6;

            ::deep svg {
                width: 100%;
                height: auto;
            }
        }
    }

    ::deep article {
        width: var(--app-width);
        position: relative;
        z-index: 20;

        .page-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 24px;

            section {
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding: 24px;
                background-color: rgba(79, 129, 153, 0.20);
                border: 1px solid rgba(219, 243, 252, 0.20);
                border-radius: 24px;
                backdrop-filter: blur(4px);

                header {
                    h3 {
                        font-size: 2.5rem;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .subheader {
                        font-family: var(--articulat);
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 140%;
                    }

                    aside {
                        color: var(--orange-300, #FF945E);
                        font-family: var(--brother-printed);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

                h4 {
                    color: #FFF;
                    font-family: var(--brother-printed);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }
}

::deep nav {
    width: var(--app-width);

    .right {
        background-image: url('/images/aura-background.svg') !important;
        background-position: center center;
        padding: 10px !important;

        .menu-btn {
            display: none;
        }
    }

    .nav-menu {
        display: none;
    }
}

::deep .nav-sidebar {
    display: none !important;
}

@media only screen and (min-width: 1024px) {
    nav {
        
    }

    .nav-sidebar {
        display: block;
        z-index: 10;
    }
}