.hero-background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.2;
    pointer-events: none;

    ::deep svg {
        width: 100%;
        height: auto;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1003;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(7, 55, 79, 0.8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(40px);
    padding: 8px;

    img {
        height: 24px;
    }

    .buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
    }

    button, a.button {
        width: auto;
        padding: 12px 16px;
        border-radius: 20px;
        white-space: nowrap;

        &.logo {
            padding: 0;
        }
    }

        button.no-btn {
            padding: 0;
        }

    ::deep button.no-btn img {
        height: 36px !important;
    }

    ::deep .language-select {
        position: fixed;
        top: 80px;
        right: 16px;
        border-radius: 20px;
        background-color: var(--blue-600);
        border: 1px solid var(--blue-500);
        max-width: min(90vw, 300px);
        padding: 0;

        select {
            background-color: var(--blue-600);
            padding: 11px 16px;

            option {
                &:checked {
                    color: var(--orange-300);
                }
            }
        }

        .progress-bar-value {
            background-color: var(--blue-300);
        }

        @media screen and (min-width: 800px) {
            top: 12px;
            right: 180px;
        }
    }

        ::deep .language-select:after {
            border-top: 5px solid white;
        }

    ::deep .language-select-container {
        button.secondary-btn {
            padding: 12px 16px;
        }

        button.selected {
            background-color: var(--blue-600);
            border: 1px solid var(--blue-500);
        }
    }

    @media screen and (min-width: 800px) {
        padding: 12px 32px;
    }
}

main {
    margin-top: 0;
    padding: 0;
    padding-bottom: 24px;
    color: var(--blue-50);

    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        ::deep article {
            grid-column: 1 / span 4;
            margin-top: 200px;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1499;
    background: rgba(0, 0, 0, 0.50);
}


aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -450px;
    width: min(300px, 70vw);
    background-color: var(--blue-50);
    padding: 24px;
    z-index: 1500;
    box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.60);
    transition: right 0.3s ease-in-out;

    &.open {
        right: 0;
    }

    header {
        background: transparent;
        box-shadow: none;
        margin-bottom: 4px;
    }

    ::deep a {
        display: flex;
        gap: 16px;
        align-items: center;
        color: var(--blue-600);
        border-radius: 20px;
        padding: 8px 12px;

        &:hover, &.active {
            background: var(--blue-100);
        }

        img {
            height: 36px;
        }
    }

        ::deep a.active {
            color: var(--orange-300);
        }

    h3 {
        background: linear-gradient(91deg, #055780 -12.15%, #1B668C 91.91%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        box-sizing: border-box;
        background: var(--blue-600);
    }

    ::deep footer form {
        background: red;
    }
}

footer {
    font-size: 1.4rem;
    text-align: center;
    padding: 64px 16px 16px 16px;

    a {
        text-decoration: underline;
    }
}

.home-container {
    &.previewing {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(calc(100dvh - 90px));

        main {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(calc(100dvh - 90px));
        }
    }

    &.preview-first {
        main {
            transition: none !important;
        }
    }

    > ::deep .language-select-container {
        position: fixed;
        bottom: 180px;
        right: 28px;
        z-index: 1005;

        @media screen and (min-width: 800px) {
            bottom: 140px;
        }

        button.secondary-btn {
            padding: 12px 16px;
        }

        .language-select {
            width: auto;

            select {
                width: auto;
                max-width: 80%;
            }
        }
    }
}
