footer {
    margin-top: 80px;
    padding: 16px;
    font-size: 1.4rem;
    text-align: center;
    z-index: 1000;
    color: var(--blue-200);

    a {
        text-decoration: underline;
        color: var(--blue-200);
    }
}
