@inherits LayoutComponentBase

<header>
    <a href="/">
        <img src="/images/TovikWordmark.svg" alt="Tovik" />
    </a>
    <NavMenu />
</header>

<main>
    @Body
</main>

<footer>
    Made with ❤️ by Sparc Cooperative.
    <nav>
        <a href="/Privacy">Privacy</a> |
        <a href="/Terms">Terms of Use</a>
    </nav>
</footer>