.hero-background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.2;
    pointer-events: none;

    ::deep svg {
        width: 100%;
        height: auto;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1003;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(7, 55, 79, 0.8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(40px);
    padding: 8px;

    img {
        height: 24px;
    }

    .buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
    }

    button, a.button {
        width: auto;
        padding: 12px 16px;
        border-radius: 20px;
        white-space: nowrap;

        &.logo {
            padding: 0;
        }
    }

    ::deep .language-select {
        position: fixed;
        top: 80px;
        right: 16px;
        border-radius: 20px;
        background-color: var(--blue-600);
        border: 1px solid var(--blue-500);
        max-width: min(90vw, 300px);

        select {
            background-color: var(--blue-600);

            option {
                &:checked {
                    color: var(--orange-300);
                }
            }
        }

        .progress-bar-value {
            background-color: var(--blue-300);
        }
    }

        ::deep .language-select:after {
            border-top: 5px solid white;
        }

    ::deep .language-select-container {
        button.secondary-btn {
            padding: 12px 16px;
        }

        button.selected {
            background-color: var(--blue-600);
            border: 1px solid var(--blue-500);
        }
    }

    @media screen and (min-width: 800px) {
        padding: 16px 32px;
    }
}

main {
    margin-top: 0;
    padding: 0;
    padding-bottom: 24px;
    color: var(--blue-50);

    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        ::deep article {
            grid-column: 1 / span 4;
            margin-top: 200px;
        }
    }
}

footer {
    font-size: 1.4rem;
    text-align: center;
    padding: 64px 16px 16px 16px;

    a {
        text-decoration: underline;
    }
}

.home-container {
    &.previewing {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(calc(100dvh - 90px));

        main {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(calc(100dvh - 90px));
        }
    }

    &.preview-first {
        main {
            transition: none !important;
        }
    }

    > ::deep .language-select-container {
        position: fixed;
        bottom: 180px;
        right: 28px;
        z-index: 1005;

        @media screen and (min-width: 800px) {
            bottom: 140px;
        }

        button.secondary-btn {
            padding: 12px 16px;
        }

        .language-select {
            width: auto;

            select {
                width: auto;
                max-width: 80%;
            }
        }
    }
}
