nav {
    ul {
        display: flex;
        gap: 4px;
        list-style: none;

        @media (orientation: landscape) {
            gap: 24px;
        }
    }

    li {
        padding: 10.5px 12px;
        text-wrap: nowrap;
    }

    ::deep a {
        color: var(--blue-100);
        font-weight: 400;
        font-family: var(--brother-printed);

        &.active {
            color: var(--orange-300);
        }
    }
}
