h1 {
    font-size: 3.125rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 48px 0 32px;
}

::deep a {
    border-radius: 24px;
    border: 1px solid rgba(219, 243, 252, 0.20);
    background: rgba(79, 129, 153, 0.20);
    padding: 16px;
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    align-items: center;

    &.active {
        border: 1px solid var(--Blue-700, #07374F);
        background: var(--Blue-50, #EFF7F9);
        color: var(--blue-700);
    }

    img {
        height: 32px;
        display: none;
    }

    @media screen and (min-width: 800px) {
        img {
            display: block;
        }
    }
}


