@using Sparc.Blossom.Authentication.Avatar
@using Sparc.Blossom.Authentication.Icons
<nav>
    <ul class="@OpenClass">
        <li @onclick="Open" class="mobile-only">
            <Close />
        </li>
        <li>
            <NavLink href="/sites">My Sites</NavLink>
        </li>
        <li>
            <NavLink href="/questions">Questions</NavLink>
        </li>
        <li>
            <NavLink href="/pricing">Pricing</NavLink>
        </li>
    </ul>

    <SparcAura />

    <button class="icon-btn mobile-only" @onclick="Open">
        <img src="/icons/MenuIcon.svg" alt="Open Nav Menu" />
    </button>
</nav>

@code {
    string OpenClass = "";

    void Open()
    {
        OpenClass = OpenClass == "" ? "open" : "";
    }
}