@using Tovik.Domains

<h1>
	<Favicon Domain="Domain" />
	@Domain?.Domain
</h1>

@if (Domain != null && Domain.DateConnected == null)
{
	<p>Status: Inactive</p>
}
else if (Domain?.LastTranslatedDate != null)
{
	<p>Status: Actively Translating</p>
}

<nav>
	<ul>
		<li>
			<NavLink href="@Overview" Match="NavLinkMatch.All">
				<img src="/icons/Overview.svg" alt="Overview" />
				Overview
			</NavLink>
		</li>
		<li>
			<NavLink href="@Vocabulary">
				<img src="/icons/Vocabulary.svg" alt="Vocabulary" />
				Vocabulary
			</NavLink>
		</li>
		<li>
			<NavLink href="@Setup">
				<img src="/icons/Settings.svg" alt="Setup" />
				Setup
			</NavLink>
		</li>
	</ul>
</nav>

@inject TovikDomains TovikDomains
@code {
	[Parameter] public required SparcDomain Domain { get; set; }

	string Overview => $"/app/{Domain?.Id}";
	string Vocabulary => $"/app/{Domain?.Id}/vocabulary";
	string Setup => $"/app/{Domain?.Id}/setup";
}