<nav>
    <ul>
        <li>
            <NavLink href="/sites">My Sites</NavLink>
        </li>
        <li>
            <NavLink href="/questions">Questions</NavLink>
        </li>
        <li>
            <NavLink href="/pricing">Pricing</NavLink>
        </li>
    </ul>
</nav>