@using Tovik.Domains

<nav>
	<button class="logo" @onclick=Home>
		<img src="/images/TovikWordmark.svg" alt="Tovik" />
	</button>

	<div class="buttons">
		@if (!IsPreviewing)
		{
			<Sparc.Blossom.Content.LanguageSelector WithButton=true />
		}
		else
		{
			<button class="secondary-btn" @onclick=Home>Learn More</button>
		}
		@if (IsACustomer)
		{
			<a class="button primary-btn" href="/sites">My Sites</a>
		}
		else
		{
			<button class="primary-btn" @onclick=ToggleSidebar>Install Now</button>
		}
	</div>
</nav>

<aside class="@(IsSidebarOpen ? "open" : "")">
</aside>

@inject TovikDomains Domains
@code {
	[Parameter] public bool IsPreviewing { get; set; }
	[Parameter] public EventCallback OnPreviewExited { get; set; }
	bool IsSidebarOpen;
	bool IsACustomer;

	protected override async Task OnInitializedAsync()
	{
		IsACustomer = (await Domains.All()).Any();
	}

	async Task Home() => await OnPreviewExited.InvokeAsync();

	void ToggleSidebar()
	{
		IsSidebarOpen = !IsSidebarOpen;
	}
}