.hero-background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.2;
    pointer-events: none;

    ::deep svg {
        width: 100%;
        height: auto;
    }
}

nav {
    position: sticky;
    top: 0;
    z-index: 1003;
    display: flex;
    justify-content: space-between;
    background: rgba(7, 55, 79, 0.8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(40px);
    padding: 16px;

    ::deep .language-select {
        position: fixed;
        top: 100px;
        right: 16px;
        border-radius: 20px;
    }

    img {
        height: 24px;
    }

    .buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
    }

    button, a.button {
        width: auto;
        padding: 12px 16px;
        border-radius: 20px;
        white-space: nowrap;

        &.logo {
            padding: 0;
        }
    }

    @media screen and (min-width: 800px) {
        padding: 16px 32px;
    }
}

aside {
    position: fixed;
    top: 0;
    right: -600px;
    bottom: 0;
    background-color: var(--blue-600);
    padding: 0;
    border-left: 1px solid var(--blue-200);
    max-width: min(90vw, 400px);
    overflow-y: auto;
    z-index: 1400;
    transition: transform 0.3s ease-in-out;

    &.open {
        transform: translateX(-600px);
    }

    ::deep > div {
        padding: 16px;
    }

    > header {
        text-align: right;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        padding: 16px;
        z-index: 1500;
        background: var(--blue-700);
        display: grid;
        grid-template-columns: auto 36px;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 2.4rem;
            padding-left: 16px;
        }

        ::deep svg path {
            stroke: white;
        }
    }
}
