header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 32px;
    width: 100%;
    background-color: var(--blue-700);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a img {
        height: 30px;
    }
}

nav {
    ul {
        display: flex;
        gap: 24px;
        list-style: none;
    }

    li {
        padding: 10.5px 12px;
    }

    ::deep a {
        color: var(--blue-100);
        font-weight: 400;
        font-family: var(--brother-printed);

        &.active {
            color: var(--orange-300);
        }
    }
}