@using Tovik.Domains

<nav>
	<ul>
		<li>
			<NavLink href="@Overview">
				<img src="/icons/Overview.svg" alt="Overview" />
				Overview
			</NavLink>
		</li>
		<li>
			<NavLink href="@Vocabulary">
				<img src="/icons/Vocabulary.svg" alt="Vocabulary" />
				Vocabulary
			</NavLink>
		</li>
		<li>
			<NavLink href="@Setup">
				<img src="/icons/Setup.svg" alt="Setup" />
				Setup
			</NavLink>
		</li>
	</ul>
</nav>

@inject TovikDomains TovikDomains
@code {
	[Parameter] public required string DomainId { get; set; }

	string Overview => $"/app/{DomainId}/overview";
	string Vocabulary => $"/app/{DomainId}/vocabulary";
	string Setup => $"/app/{DomainId}/setup";
}