@inherits LayoutComponentBase

<div class="layout-container">
    <main>
        @Body
    </main>

    <footer>
        Made with ❤️ by Sparc Cooperative.
        <a href="/Privacy">Privacy</a> |
        <a href="/Terms">Terms of Use</a>
    </footer>
</div>