main {
    margin-top: 0;
    padding: 0;
    padding-bottom: 24px;
    color: var(--blue-50);

    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        ::deep article {
            grid-column: 1 / span 4;
            margin-top: 200px;
        }
    }
}
    