.hero-background {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 0;

    ::deep svg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1988px;
        height: 100%;
    }
}
    