@inherits LayoutComponentBase

<div class="layout-container">
    <NavMenu />

    <main>
        <div class="main-grid">
            <div class="hero">
                <a class="hero-img" href="/">
                    <PrimaryLogo FontColor="#FF945E" />
                </a>
                <div class="hero-background"><DashedLine Color="#FFD4BF" /></div>
            </div>
            @Body
        </div>
    </main>

    <footer>
        &copy; Sparc Cooperative Association.
        <a href="/Privacy">Privacy</a> |
        <a href="/Terms">Terms of Use</a>
    </footer>
</div>