iframe {
    display: none;
    position: fixed;
    top: 0;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    width: 100vw;
    height: calc(100vh - 90px);
    border-top-width: 0;
    background-color: var(--blue-500);

    &.open {
        display: block;
    }
}

.fine-print {
    position: fixed;
    bottom: 90px;
    width: 100vw;
    background-color: var(--blue-700);
    color: white;
    z-index: 1020;
    font-size: 1.4rem;
    padding: 8px 32px;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid var(--blue-600);
    border-bottom: 1px solid var(--blue-600);

    a {
        color: var(--orange-300);
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}