@using Sparc.Blossom.Content
<section class="tovik-card">
	<header>
		<h3>Preview Your Site In Other Languages</h3>
	</header>
	
	<div>
		<LanguageSelector OnLanguageChanged="UpdatePreviewLanguage" />
		<button class="secondary-btn" @onclick=Preview>Preview</button>
	</div>

	@if (Domain.DateConnected == null)
	{
		<p>
			Note: This preview is simulated, so some functions may not behave as expected.
			<a href="@SetupLink">Install Tovik on @Domain.Domain</a> to enable the full preview experience.
		</p>
	}
</section>

@code {
	[Parameter] public required SparcDomain Domain { get; set; }
	string? PreviewLanguage;

	void UpdatePreviewLanguage(Language language) => PreviewLanguage = language.Id;
	async Task Preview()
	{
		if (Domain == null || string.IsNullOrWhiteSpace(PreviewLanguage))
			return;

		var baseUrl = Domain.DateConnected == null
			? $"/app/{Domain.Id}/preview"
			: Domain.ToUri().ToString();

		var url = baseUrl + "?lang=" + PreviewLanguage;
		await Js.InvokeVoidAsync("open", url, "_blank");
	}
	string SetupLink => $"/app/{Domain.Id}/setup";
}
