section {
    > div {
        display: grid;
        grid-template-columns: auto 80px;
        gap: 8px;
    }

    ::deep .language-select {
        background-color: var(--blue-600);

        &:after {
            border-top: 5px solid white;
        }

        select {
            background-color: var(--blue-600);
        }
    }
}
