@page "/app"
@using Sparc.Blossom.Content
@using Tovik.Installation
@layout MainLayout

<PageTitle>Tovik - My Websites</PageTitle>

<NavMenu />

<article class="home">
    <div class="page-container">
        @if (Domains != null)
        {
            <section class="welcome">
                <img src="/images/Star.svg" alt="Star" />
                <header>
                    <h3>Welcome to Tovik!</h3>
                </header>
                <p>
                    We're so happy you're here.
                </p>
                <p>
                    Tovik is designed to make it easy to translate your website into multiple languages, so you can reach a global audience without the hassle of managing translations manually.
                </p>
                <p>
                    To get started, <span>enter the domain name</span> for the website where you'd like to install Tovik.
                </p>

                <Tovik.App.Domains.AddDomain />
            </section>
        }
    </div>
</article>

@inject Tovik.Domains.TovikDomains TovikDomains
@inject IConfiguration Config
@inject ISparcBilling Billing
@inject ITovik Tovik

@code {
    List<SparcDomain>? Domains;
    [SupplyParameterFromQuery] public string? Welcome { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Domains = await TovikDomains.All();
        if (Domains.Any())
            Nav.NavigateTo($"/app/{Domains.First().Id}");
    }
}