.error-message {
    margin-top: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 400px;

    button {
        white-space: nowrap;
    }

    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}