.error-message {
    margin-top: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 500px;

    label {
        flex: 2;
    }

    button {
        white-space: nowrap;
        flex: 1;
    }
}